# Ignore results from testing
node_modules
Tests/images/

# Ignore others
.history
.idea
npm-debug.log

# Ignore all compiled css and javascript
Resources/Public/Css/concatenated.css
Resources/Public/Css/minified.css
Resources/Public/Javascript/*
