# Ignore results from testing
node_modules
Tests/images/

# Ignore others
.history
.idea
npm-debug.log

# Ignore all compiled css and javascript
Resources/Public/Css/*
Resources/Public/JavaScript/*
.php_cs.cache
/vendor/
/composer.lock
