# Ignore results from testing
node_modules
Tests/output/

# Ignore others
.history
.idea
npm-debug.log

.php_cs.cache
/vendor/
/composer.lock
Build/JavaScript/*
appResponsive.min.css.map
appNonResponsive.min.css.map
