{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order"],
  "rules": {
      "order/order": [
        {
            "type": "at-rule",
            "name": "include"
        },
        "declarations",
        "rules",
        {
            "type": "at-rule",
            "name": "media"
        }
      ],
    "declaration-empty-line-before": null,
    "max-empty-lines": 3,
    "indentation": 4
  }
 }
