{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/order": [
            "declarations",
            "rules",
            {
                "type": "at-rule",
                "name": "media"
            }
        ],
        "declaration-empty-line-before": null,
        "max-empty-lines": 3,
        "indentation": 4,
        "shorthand-property-no-redundant-values": null
    }
}

