.navigation_breadCrumbs {
    @include flex-center;

    @include media-l {
        @include span-l-12;
        font-size: $base-font-size-l+4; // 20
        line-height: 40px;
    }

    @include media-m {
        @include span-m-12;
        font-size: $base-font-size-m+4; // 20
        line-height: 40px;
    }

    @include media-s {
        @include span-s-6;
    }
    flex-flow: row wrap;
    align-self: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navigation_breadCrumbs-crumbs {
    @include media-l {
        @include span-l-10;
    }

    @include media-m {
        @include span-m-10;
    }

    @include media-s {
        @include span-s-6;
    }
    align-items: center;
    justify-content: flex-start;
    padding: 8px;

    svg {
        fill: $shadeDarkest;
        margin: 0 $magic-l/2;
        height: 0.9em;
    }
}

.navigation_menuButton {
    @include media-l {
        @include span-l-2;
    }

    @include media-m {
        @include span-m-2;
    }

    @include media-s {
        @include span-s-2;
    }
    display: flex;
    background: $brand;
    cursor: pointer;
    color: $white;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: $magic-l/2 0;

    svg {
        margin-right: $magic-l/4;
        fill: $white;
        height: 1em;
        width: 1em;
    }
}
