.footer_outer {
    background: $shadeLightest;
}

.footer_inner {
    display: flex;
    width: width(l-12);
    flex-direction: row;
    max-width: width(l-12);
    max-width: $width-l;
    margin: $magic-l auto $magic-l auto;
    font-size: $base-font-size-l;

    img {
        outline: 0;
    }
}

.footer-column-header {
    display: none;
}

.footer-column {
    padding-right: $magic-l;
    max-width: width(l-4);
    flex-basis: 100%;
    display: flex;
    flex-grow: 1;

    &:last-of-type {
        padding-right: 0;
    }

    &.-contact {
        display: flex;
        flex-direction: column;

        .fa {
            color: $brand;
        }
    }

    &.-tell {
        display: flex;
        flex-direction: column;
    }

    &.-funding {
        display: flex;

        img {
            min-height: 1px;
            width: 100%;
            height: 100%;
        }

        a {
            display: flex;

            &::after {
                content: '';
            }
        }

        .footer-funding-logos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                display: flex;
                margin-bottom: $magic;
                flex-grow: 0;
                flex-shrink: 1;
            }
        }

        .footer-funding-logo {
            display: block;

            &::before {
                padding-left: 0;
                content: '';
            }
        }
    }
}

.footer-contact_address {
    text-indent: -14px;
    padding-left: 25px;

    i::before {
        padding-right: 2px;
    }
}

.shariff {
    display: flex;
    flex-direction: row;

    a {
        &::after {
            content: '';
        }
    }

    ul {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        display: flex;
        flex-basis: 100%;

        .share_count {
            color: $white !important;
            background-color: $brand !important;
            display: none !important;
        }

        .share_text {
            font-family: "Open Sans", sans-serif !important;
            padding: 0 !important;
            font-size: $small-font-size-l !important;
            display: flex;
            text-indent: 0 !important;
            text-transform: capitalize;
        }

        &.shariff-button {
            width: width(l-2) - $magic;
            max-width: width(l-2) - 2 * $magic !important;
            padding: 0;
            margin: 0 0 $magic 0;

            &::before {
                content: '';
                padding: 0;
            }

            a {
                justify-content: center;
                background-color: $brand !important;
                display: flex;
                width: 100%;
            }
        }
    }
}
