.footer_outer {
    background-color: $shadeLightest;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    list-style-type: none;
    font-size: $base-font-size-l;
    line-height: $base-line-height-l;
    font-weight: normal;
    min-width: 1000px;
}

.footer_inner {
    @include media-l {
        @include span-l-12;
        padding-top: $magic-l/2;
        padding-bottom: $magic-l;
    }

    @include media-m {
        @include span-m-12;
        padding-top: $magic-m/2;
        padding-bottom: $magic-m;
    }

    @include media-s {
        @include span-s-6;
        padding-top: $magic-s/2;
        padding-bottom: $magic-s;
    }
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start !important;
    align-items: flex-start !important;

    a {
        color: $shadeDarkest;
    }
}

.footer_fullLevel {
    @include flex-left;

    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
}

.footer_firstLevel {
    @include flex-right;

    @include media-l {
        @include span-l-2;
        padding-top: $magic-l/2;
        padding-right: $magic-l;
    }

    @include media-m {
        @include span-m-3;
        padding-top: $magic-m/2;
        padding-right: $magic-m;
    }

    @include media-s {
        @include span-s-6;
        @include flex-left;
        padding-top: $magic-s;
        padding-right: $magic-s;
    }
    display: flex;
    font-weight: normal;
    text-align: right;
}

.footer_secondLevel {
    @include flex-left;

    @include media-l {
        @include span-l-10;
        padding-top: $magic-l/2;
    }

    @include media-m {
        @include span-m-9;
        padding-top: $magic-m/2;
    }

    @include media-s {
        @include span-s-6;
        padding-top: $magic-s;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
        padding-right: $magic-l;
        padding-bottom: $magic-l/4;
    }
}
