.tx-powermail,
form {
    fieldset,
    .powermail_fieldset {
        border: 0;
        padding-left: 0;
        padding-right: 0;

        legend {
            padding-left: 0;
            font-weight: bold;
        }
    }

    .powermail_fieldwrap {
        margin: 1em 0;
    }

    .powermail_field {
        font-size: $base-font-size-l;
    }

    .powermail_fieldwrap_type_input,
    .powermail_fieldwrap_type_select,
    .powermail_fieldwrap_type_textarea,
    .powermail_fieldwrap_type_check,
    .powermail_fieldwrap_type_radio {
        display: flex;

        input,
        .powermail_field {
            flex: 1 0 120px;
        }

        label,
        .powermail_label {
            flex: 1 0 220px;
            max-width: 220px;
        }
    }

    .powermail_input,
    // input[type=text],
    .pz2-searchField {
        @include form-input-text;
    }

    .powermail_textarea,
    .powermail_select,
    select {
        border: 1px solid $brand;
    }

    .powermail_select,
    select {
        background: $white;
    }

    .powermail_submit,
    button,
    input[type=submit],
    .pz2-submitButton {
        @include form-button;
    }
}

.tx-solr-search-form {
    background: $white;
    border: 0;
}

.pz2-months {
    font-size: $base-font-size-l !important;
}

.powermail_form.nolabel {
    > h3 {
        display: none;
    }
}

.powermail_fieldset.nolabel {
    > legend {
        display: none;
    }
}

.powermail_fieldwrap.nolabel {
    > label {
        display: none;
    }

    > fieldset > legend {
        display: none;
    }
}
