.header_outer {
    background-color: $brand;
    color: $white;
    font-size: $large-font-size-l;

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    a {
        color: $white;
    }

    svg {
        fill: $white;
    }
}

.header_inner {
    @include media-l {
        @include span;
        padding: $magic-l 0;
        min-width: width(l-12);
        justify-content: space-between;
        flex-grow: 0;

        svg {
            height: 1em;
            width: 1em;
        }
    }

    @include media-m {
        @include span-m-12;
        padding: $magic-m 0;
        min-width: width(m-12);
        justify-content: space-between;
        flex-grow: 0;

        svg {
            height: 1em;
            width: 1em;
        }
    }

    @include media-s {
        @include span-s-6;
        font-size: $large-font-size-s - 4;
        padding: $magic-s 0;
        min-width: width(s-6);
        flex-grow: 0;

        svg {
            height: 1em;
            width: 1em;
        }
    }
}

.header_bildText {
    @include media-l {
        @include span();
        width: width(l-6) - 2 * $magic-m;
        align-items: flex-start !important;
        margin: 0 0 0 $magic-l;
    }

    @include media-m {
        @include span();
        width: width(l-6) - 2 * $magic-m;
        align-items: flex-start !important;
        margin: 0 0 0 $magic-m;
    }

    @include media-s {
        @include span-s-6;
        align-items: center;
    }
    flex-direction: row;
    display: flex;
}

.header_image {
    margin-right: $magic-l;

    svg {
        width: 188px;
        height: 41px;
    }
}

.header_text-Long {
    @include flex-left;

    @include media-l {
        @include span-l-6;
        font-size: $base-font-size-l + 4;
        margin: 0 0 $magic 0;
    }

    @include media-m {
        @include span-m-6;
        font-size: $base-font-size-m + 4;
    }

    @include media-s {
        @include span-s-6;
    }
}

.header_text-Short {
    @include flex-left;

    @include media-l {
        @include span-l-3;
        font-size: $large-font-size-l;
    }

    @include media-m {
        @include span-m-3;
        font-size: $large-font-size-m;
    }

    @include media-s {
        @include span-s-2;
        font-size: $large-font-size-s;
    }
    margin: 0;
    font-weight: 600;
}

.header_text-strong {
    font-weight: 600;
}

.header_buttons {
    @include media-l {
        @include width-l-3;
        margin: 0 $magic-l 0 0;
    }

    @include media-m {
        @include width-m-3;
        margin: 0 $magic-m 0 0;
    }

    @include media-s {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        margin-right: $large-font-size-l/4;
    }
}

.NonResponsive .header_buttons {
    @include media-s {
        display: flex;
    }
}

.header_home {
    display: flex;
    align-items: center;
}

.header_icon {
    display: flex;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        margin-bottom: -3px;
    }
}

.header_search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search-icon {
    display: flex;
    align-items: center;

    svg {
        height: 1em;
        width: 1em;
    }
}

.header_language {
    @include media-l {
        padding-left: 60px;
    }

    @include media-m {
        padding-left: 40px;
    }

    @include media-s {
        padding-left: 40px;
    }
    display: none;
}

.header_language-icon {
    display: flex;
    align-items: center;

    svg {
        height: 1em;
        width: 1em;
        margin-bottom: -2px;
    }
}

.header-s_buttons {
    @include media-l {
        display: none;
    }

    @include media-m {
        display: none;
    }

    @include media-s {
        margin-top: $magic-s;
        min-width: 320px;
    }
    color: $white;
    font-size: $large-font-size-s - 4;

    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: stretch;

    a {
        display: flex;
        justify-content: center;
        color: $white;
        background: $brand;
        margin: 0 $magic 0 $magic;
        padding: $magic 0 $magic 0;
        flex-grow: 1;
    }

    svg {
        margin-right: $large-font-size-l/4;
        fill: $white;
        height: 1em;
        width: 1em;
    }
}

.NonResponsive .header-s_buttons {
    display: none;
}
