figure {
    margin: 0;
    display: table;
    margin-bottom: $magic-l/2;
    margin-top: $magic-l/4;

    img {
        margin-bottom: -4px;

        @each $i in '4', '5', '6', '8', '10' {
            &.cols-#{$i} {
                @include media-l {
                    width: width("l-#{$i}");
                }

                @include media-m {
                    width: width("m-#{$i}");
                }
                height: auto;
            }
        }
    }

    .image-caption {
        text-align: right;
        font-weight: normal;
        font-size: $small-font-size-l;
        line-height: $small-line-height-l;
        display: table-caption;
        caption-side: bottom;
        padding-top: $magic;
    }
}

.figure-single {
    @include flex-center;
}

.figure-center-above {
    @include flex-center;
    display: flex;
}

.figure-left-intext {
    float: left;

    img {
        padding-right: $magic-l;
    }

    .image-caption {
        padding-right: $magic-l;
    }
}

.figure-right-intext {
    float: right;

    img {
        padding-left: $magic-l;
    }

    .image-caption {
        padding-left: $magic-l;
    }
}
