figure {
    margin: 0;
    display: table;
    padding-bottom: 8px;
    padding-top: 6px;

    img {
        margin-bottom: -4px;

        @each $i in '4', '5', '6', '8', '10' {
            &.cols-#{$i} {
                @include media-l {
                    width: width("l-#{$i}");
                }

                @include media-m {
                    width: width("m-#{$i}");
                }
                height: auto;
            }
        }
    }
}

.figure-single {
    @include flex-center;
}

.figure-float-left {
    float: left;

    img {
        padding-right: 16px;
    }
}

.figure-float-right {
    float: right;

    img {
        padding-left: 16px;
    }
}

.figure-caption {
    text-align: right;
    font-weight: 300;
    font-size: $base-font-size - 1;
    display: table-caption;
    caption-side: bottom;
    margin-bottom: $base-font-size/2;
}
