.last_outer {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    background-color: $brand;
    width: 100%;
    color: $white;

    a {
        color: $white;
    }
}

.last_inner {
    @include media-l {
        @include span-l-12;
        font-size: $base-font-size-l;
        line-height: $base-line-height-l;
        padding: $magic-l/2 0;
    }

    @include media-m {
        @include span-m-12;
        font-size: $base-font-size-m;
        line-height: $base-line-height-m;
        padding: $magic-m/2 0;
    }

    @include media-s {
        @include span-s-6;
        font-size: $base-font-size-s;
        line-height: $base-line-height-s;
    }
    justify-content: flex-start;
    margin: 0;
}

.last_information {
    @include media-l {
        @include span-l-9;
    }

    @include media-m {
        @include span-m-9;
    }

    @include media-s {
        @include span-s-6;
    }
    display: flex;

    a {
        @include media-s {
            @include span-s-6;
        }
        padding-right: $magic-l;
        display: flex;
        align-items: center;
    }

    svg {
        fill: $white;
        height: 1em;
        width: 1em;
        padding-left: $magic/2;
    }
}

.last_licence {
    @include media-l {
        @include span-l-3;
    }

    @include media-m {
        @include span-m-3;
    }

    @include media-s {
        @include span-s-6;
        text-align: left !important;
    }
    display: block !important;
    text-align: right !important;
}
