.last_outer {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 1000px;

    background-color: $brand;
    width: 100%;
    color: $white;
    font-size: $base-font-size-l;
    line-height: $base-line-height-l;

    a {
        color: $white;
    }
}

.last_inner {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
    justify-content: center;
    padding: $magic-l/2 0;
    margin: 0;
}

.last_information {
    @include media-l {
        @include span-l-9;
    }

    @include media-m {
        @include span-m-9;
    }

    @include media-s {
        @include span-s-6;
    }
    display: flex;

    a {
        @include media-s {
            @include span-s-6;
        }
        padding-right: $magic-l;
    }
}

.last_licence {
    @include media-l {
        @include span-l-3;
    }

    @include media-m {
        @include span-m-3;
    }

    @include media-s {
        @include span-s-6;
        text-align: left !important;
    }
    display: block !important;
    text-align: right !important;
}
