.content-main {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    min-height: 1em;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-width: 1000px;
}

.doubleColumn {
    @include media-l {
        width: width(l-12);
    }

    @include media-m {
        width: width(m-12);
    }

    @include media-s {
        width: width(s-6);
    }
}

.doubleColumn {
    .content {
        font-size: $base-font-size-l;
        column-count: 2;
        column-gap: $magic-l - 1;
    }
}

.singleColumn {
    @include media-l {
        width: width(l-10);
    }

    @include media-m {
        width: width(m-10);
    }

    @include media-s {
        width: width(s-6);
    }

    justify-content: flex-start;
}

.literature {
    padding-left: $magic-l;
    text-indent: -$magic-l;
    font-size: $base-font-size-l - 1;
}

.toTop_outer {
    @include media-l {
        width: width(l-12);
        bottom: $magic-l;
    }

    @include media-m {
        width: width(m-12);
        bottom: $magic-l;
    }

    @include media-s {
        width: width(m-6);
        bottom: 0;
    }
    display: flex;
    position: sticky;
    justify-content: flex-end;
    pointer-events: none;
}

.toTop_inner {
    @include media-l {
        width: ($magic-l * 2) + 4;
    }

    @include media-m {
        width: ($magic-l * 2) + 4;
    }

    @include media-s {
        @include width-m-6;
    }
    display: flex;
    justify-content: center;
    background-color: $brand;
    font-size: 24px;
    color: $white;
    height: ($magic-l * 2) + 4;
    cursor: pointer;
    z-index: 999999;
    pointer-events: all;

    svg {
        fill: $white;
    }
}
