@import "mixins";

.content-main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-height: 1em;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.doubleColumn {
    @include media-l {
        @include width-l-12;
    }

    @include media-m {
        @include width-m-12;
    }

    @include media-s {
        @include width-s-6;
    }
}

.doubleColumn {
    .content {
        font-size: $base-font-size;
        column-count: 2;
        column-gap: $gutter - 1;
    }
}

.singleColumn {
    @include media-l {
        @include width-l-10;
    }

    @include media-m {
        @include width-m-10;
    }

    @include media-s {
        @include width-s-6;
    }

    justify-content: flex-start;
}

.literature {
    padding-left: $gutter;
    text-indent: -$gutter;
    font-size: $base-font-size - 1;
}

.toTop_outer {
    @include media-l {
        @include width-l-12;
        bottom: $gutter;
    }

    @include media-m {
        @include width-m-12;
        bottom: $gutter;
    }

    @include media-s {
        @include width-m-6;
        bottom: 0;
    }
    display: flex;
    position: sticky;
    justify-content: flex-end;
    pointer-events: none;
    margin-top: -36px;
}

.toTop_inner {
    @include media-l {
        width: ($gutter * 2) + 4;
    }

    @include media-m {
        width: ($gutter * 2) + 4;
    }

    @include media-s {
        @include width-m-6;
    }
    display: flex;
    justify-content: center;
    background-color: $brand;
    font-size: 24px;
    color: $white;
    height: ($gutter * 2) + 4;
    cursor: pointer;
    z-index: 999999;
    pointer-events: all;

    svg {
        fill: $white;
    }
}
