.misc-wrapper_outer {
    background: $shadeLightest;
    min-width: 1000px;
}

.misc-wrapper_inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: $width-l;
    margin: $magic-l auto;

    img {
        outline: 0;
    }
}

.misc-column-header {
    display: none;
}

.misc-column {
    &.-contact {
        .fa {
            color: $brand;
        }

        .misc-contact_address {
            display: grid;
            grid-template-columns: 1fr 10fr;
        }
    }

    &.-funding {
        img {
            max-width: 15 * $magic-l;
            height: 100%;
        }

        a {
            &::after {
                content: '';
            }
        }

        .misc-funding-logos {
            height: 100%;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            align-content: stretch;
        }

        .misc-funding-logo {
            display: block;
            margin: 0.5em 0;

            &::before {
                padding-left: 0;
                content: '';
            }
        }
    }
}

li {
    &.shariff-button {
        min-width: 8 * $magic-l !important;
        max-width: 8 * $magic-l !important;

        &::before {
            content: '';
        }

        a {
            background-color: $brand !important;
            padding-left: $magic-l / 2;
        }
    }
}

.shariff {
    a {
        &::after {
            content: '';
        }
    }

    .share_count {
        color: $white !important;
        background-color: $brand !important;
    }
}
