.navigation_outer {
    @include media-l {
        display: block;
        background-color: $shadeLightest;
    }

    @include media-m {
        display: block;
        background-color: $shadeLightest;
    }

    @include media-s {
        position: fixed;
        margin: 0;
        top: 117px;
        bottom: 0;
        width: 100%;
        background-color: $white;
        z-index: 600;
        min-height: 400px;
    }
    list-style-type: none;
    width: 100%;

    a {
        color: $shadeDarkest;
    }

    svg {
        height: 1em;
        width: 1em;
    }
}

.navigation_inner {
    @include media-l {
        @include span-l-12;
        font-size: $base-font-size-l + 4;
        line-height: $huge-line-height-l;
        align-items: center;
    }

    @include media-m {
        @include span-m-12;
        font-size: $base-font-size-m + 2;
        line-height: $huge-line-height-m;
        align-items: center;
        color: blue;
    }

    @include media-s {
        @include span-m-12;
        font-size: $large-font-size-s - 2;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.navigation-title {
    @include media-l {
        display: none;
    }

    @include media-m {
        display: none;
    }

    @include media-s {
        display: flex;
        flex-grow: 0;
    }
    width: 100%;
    background-color: $accent;
    justify-content: center;
}

.navigation-title_content {
    @include media-l {
        width: width(l-12);
    }

    @include media-m {
        width: width(m-12);
    }

    @include media-s {
        width: width(s-6);
        justify-content: center;
    }
    display: flex;
    flex-grow: 0;
}

.navigation-title_text-title {
    @include media-l {
        margin-left: $magic-l;
        font-size: $huge-font-size-l - 1;
        padding: $magic-l 0;
    }

    @include media-m {
        margin-left: $magic-m;
        font-size: $huge-font-size-m - 1;
        padding: $magic-m 0;
    }

    @include media-s {
        font-size: $huge-font-size-s - 1;
        padding: $magic-s 0;
        align-items: center;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;

        .-svg-title {
            display: flex;
            align-items: center;
        }
    }
    font-weight: 600;
}

.NonResponsive .navigation_inner {
    @include media-s {
        @include span-s-6;
        align-items: stretch;
        display: flex;
    }
}

.navigation_default {
    @include media-l {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        display: flex;
    }

    @include media-m {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        display: flex;
    }

    @include media-s {
        width: width(s-6);
        background: $white;
        z-index: 500;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        flex-grow: 0;
        min-height: 400px;
        display: block;
    }

    svg {
        fill: $shadeDarkest;
        padding-left: 2px;
        height: 1em;
        width: 1em;
        cursor: pointer;
        display: flex;
    }
}

.navigation_default-menu {
    @include media-l {
        @include span-l-12;
        flex-direction: row;
        padding: 0;
    }

    @include media-m {
        @include span-m-12;
        flex-direction: row;
        padding: 0;
    }

    @include media-s {
        @include span-s-6;
        flex-direction: column;
        padding: 0;
    }
    display: flex;
    justify-content: stretch;
}

.navigation_default-menuItem {
    @include media-l {
        align-items: center;
        background-color: $shadeLightest;
        padding: $magic-l/2 0;
    }

    @include media-m {
        align-items: center;
        background-color: $shadeLightest;
        padding: $magic-l/2 0;
    }

    @include media-s {
        align-items: stretch;
        background-color: $white;
        padding: $magic/2 0;

        .-svg-menu {
            padding-left: $magic-l;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a {
        @include media-l {
            flex-grow: 0;
        }

        @include media-m {
            flex-grow: 0;
        }

        @include media-s {
            flex-grow: 1;
            margin-right: $magic-l;
        }
        display: flex;
        align-items: center;

        &::after {
            content: "";
            padding: 0;
            margin: 0;
        }
    }

    &.-actSub,
    &.-curIfSub,
    &.-cur {
        & > a {
            font-weight: bold;
        }
    }

    &:hover {
        @include media-l {
            background-color: $accent;

            & > .-svg-menu svg {
                transform: rotate(90deg);
                transition: rotate $ttime;
            }

            .navigation_default-submenuContainer-outer {
                visibility: visible;
                transition: visibility 0s linear $ttime;
            }

            .navigation_default-submenu.-actSub .navigation_default-submenu {
                visibility: visible;
                transition: visibility 0s linear $ttime * 2;
            }
        }

        @include media-m {
            background-color: $accent;

            & > .-svg-menu svg {
                transform: rotate(90deg);
                transition: rotate $ttime;
            }

            .navigation_default-submenuContainer-outer {
                visibility: visible;
                transition: visibility 0s linear $ttime;
            }

            .navigation_default-submenu.-actSub .navigation_default-submenu {
                visibility: visible;
                transition: visibility 0s linear $ttime * 2;
            }
        }
        transition: background-color $ttime;
    }
}

.navigation_default-additional {
    @include media-s {
        width: width(s-6);
        display: flex;
        flex-direction: row;
        padding: $magic 0 0 0;
        justify-content: stretch;
        align-items: center;
        cursor: pointer;
    }

    li {
        display: flex;
        list-style-type: none;
        align-items: center;

        &::before {
            content: "";
            padding: 0;
        }
    }

    .svg-left {
        padding: 0 $magic 0 0;
        display: flex;
        justify-content: flex-start;
        width: 18px;
    }
}

.navigation_default-submenu {
    @include media-l {
        width: width(l-4);
        font-size: $base-font-size-l;
        line-height: $base-line-height-l;
        padding-bottom: $magic-l/2;
        padding-top: $magic-l/2;
        align-items: stretch;
        display: flex;
    }

    @include media-m {
        width: width(m-4);
        font-size: $base-font-size-m - 1;
        line-height: $base-line-height-m;
        padding-bottom: $magic-m/2;
        padding-top: $magic-m/2;
        align-items: stretch;
        display: flex;
    }

    @include media-s {
        width: width(s-6);
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $white;
    }
    list-style-type: none;
    flex-flow: column;
}


.navigation_default-submenu:not(:first-of-type) {
    @include media-l {
        margin-left: $magic-l;
    }

    @include media-m {
        margin-left: $magic-l;
    }

    @include media-s {
        margin-left: 0;
        z-index: 400;
        background: $white;
    }
}

.navigation_default-submenuContainer-outer {
    @include media-l {
        display: flex;
        background: $shadeLighter;
        top: 52px;
        visibility: hidden;
        transition: visibility 0s linear $ttime;
    }

    @include media-m {
        display: flex;
        background: $shadeLighter;
        top: 52px;
        visibility: hidden;
        transition: visibility 0s linear $ttime;
    }

    @include media-s {
        background: $white;
        top: 36px;
        bottom: 0;
    }
    flex: 1 0 100vh;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 500;
}

.navigation_default-submenuContainer-inner {
    @include media-l {
        width: width(l-12);
    }

    @include media-m {
        width: width(m-12);
    }

    @include media-s {
        width: width(s-6);
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation_default-submenuItem {
    @include media-l {
        justify-content: flex-start;
        flex-grow: 0;
        padding: $magic/4 0;
        margin: $magic/4 0;
    }

    @include media-m {
        justify-content: flex-start;
        flex-grow: 0;
        padding: $magic/4 0;
        margin: $magic/4 0;
    }

    @include media-s {
        justify-content: space-between;
        align-self: stretch;
        flex-grow: 1;
        padding: $magic/2 0;

        .-svg-submenu {
            padding-left: $magic-l;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        // make sure close button doesn't hide text
        &:last-of-type {
            padding-bottom: 100px;
        }
    }
    display: flex;
    align-items: center;

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a::after {
        content: "";
        padding: 0;
        margin: 0;
    }

    a {
        @include media-l {
            flex-grow: 0;
            padding: 2px 2px 2px 15px; // align with menuitem
        }

        @include media-m {
            flex-grow: 0;
            padding: 2px 2px 2px 6px;
        }

        @include media-s {
            flex-grow: 1;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &.-actSub > a,
    &.-curIfSub > a,
    &.-actIfSub > a,
    &.-cur > a {
        font-weight: bold;
    }

    &.-highlight {
        @include media-l {
            background-color: $accent;
        }

        @include media-m {
            background-color: $accent;
        }
        transition: background-color $ttime;
    }

    &:hover {
        @include media-l {
            background-color: $accent;
        }

        @include media-m {
            background-color: $accent;
        }
        transition: background-color $ttime;

        .navigation_default-submenu {
            visibility: visible;
            transition: visibility 0s linear $ttime * 2;
        }
    }
}

.js {
    @include media-l {
        .navigation_default-submenu .navigation_default-submenu {
            display: none;
        }
    }

    @include media-m {
        .navigation_default-submenu .navigation_default-submenu {
            display: none;
        }
    }
}

.no-js {
    .navigation_default-submenuContainer-outer {
        height: 350px;
    }
}

#navigation-close {
    @include media-l {
        display: none;
    }

    @include media-m {
        display: none;
    }

    @include media-s {
        @include button;
        @include button-color--brand;
        @include button-size--small;
        width: width(s-4);
        position: fixed;
        bottom: $magic-s * 4;
        // bottom: $magic-s * 4;
        z-index: 1000;
    }

    svg {
        height: 1em;
        width: 1em;
        margin-right: 0.25em;
    }
}

