.navigation_outer {
    background-color: $shadeLightest;
    list-style-type: none;
    width: 100%;

    display: block;
    flex: 0 0 auto;
    justify-content: center;

    a {
        color: $shadeDarkest;
    }

    svg {
        height: 1em;
        width: 1em;
    }
}

.navigation_inner {
    @include media-l {
        @include span-l-12;
        align-items: center;
    }

    @include media-m {
        @include span-m-12;
        align-items: center;
    }

    @include media-s {
        @include span-s-6;
        align-items: stretch;
    }
}

.navigation_default {
    @include media-l {
        font-size: 20px;
        line-height: 40px;
    }

    @include media-m {
        font-size: 20px;
        line-height: 40px;
    }
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    svg {
        fill: $shadeDarkest;
        padding-left: 2px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.navigation_default-menu {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 0;
    position: relative;
    z-index: 20;
}

.navigation_default-menuItem {
    @include media-l {
        padding: 8px 0;
    }
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    svg {
        display: flex;
    }

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a::after {
        content: "";
        padding: 0;
        margin: 0;
    }

    &.-actSub:first-child,
    &.-curIfSub:first-child,
    &.-cur:first-child {
        background-color: $shadeLighter;
    }

    &.hover {
        background-color: $shadeLighter;

        &:not(.-actSub) > svg {
            transform: rotate(90deg);
        }
    }

    &.-actSub > svg,
    &.-curIfSub > svg {
        transform: rotate(90deg);
    }
}

.navigation_default-submenu {
    @include media-l {
        @include width-l-4;
        font-size: 16px;
        line-height: 24px;
    }

    @include media-m {
        @include width-m-4;
        font-size: 16px;
        line-height: 24px;
    }

    @include media-s {
        @include width-s-6;
    }
    list-style-type: none;
    display: flex;
    flex-flow: column;
    padding-bottom: 16px;
    padding-top: 8px;
    align-items: stretch;

    &.absolute {
        @include width-l-3;
        position: absolute;
        background: $shadeLighter;
        z-index: 100;
        margin: 0;
    }
}

.navigation_default-submenuContainer-outer {
    flex: 1 0 100vh;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 136px;
    width: 100%;
    background: $shadeLighter;
    z-index: 10;
    display: none;
}

.navigation_default-submenuItem {
    display: flex;
    flex-grow: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 4px 12px;
    justify-content: flex-start;
    align-items: center;

    svg {
        margin-left: 8px;
    }

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a::after {
        content: "";
        padding: 0;
        margin: 0;
    }

    a {
        padding: 2px;
    }

    &.-actSub > a,
    &.-curIfSub > a,
    &.-actIfSub > a,
    &.-cur > a {
        font-weight: bold;
    }

    &.hover > a {
        background-color: $shadeLight;
    }
}
