.navigation_outer {
    background-color: $shadeLightest;
    list-style-type: none;
    width: 100%;
    min-width: 1000px;

    display: block;
    flex: 0 0 auto;
    justify-content: center;

    a {
        color: $shadeDarkest;
    }

    svg {
        height: 1em;
        width: 1em;
    }
}

.navigation_inner {
    @include media-l {
        @include span-l-12;
        align-items: center;
    }

    @include media-m {
        @include span-m-12;
        align-items: center;
    }

    @include media-s {
        @include span-s-6;
        align-items: stretch;
    }
    position: relative;
}

.navigation_default {
    @include media-l {
        font-size: $base-font-size-l+4;
        line-height: $huge-line-height-l;
    }

    @include media-m {
        font-size: $base-font-size-l+4;
        line-height: $huge-line-height-l;
    }
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    svg {
        fill: $shadeDarkest;
        padding-left: 2px;
        height: 1em;
        width: 1em;
        cursor: pointer;
    }
}

.navigation_default-menu {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 0;
    z-index: 20;
}

.navigation_default-menuItem {
    padding: $magic-l/2 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    background-color: $shadeLightest;

    svg {
        display: flex;
    }

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a::after {
        content: "";
        padding: 0;
        margin: 0;
    }

    // element in path is bold
    &.-actSub,
    &.-curIfSub,
    &.-cur {
        & > a {
            font-weight: bold;
        }
    }

    &:hover,
    &:hover:not(.hovered),
    &.hovered {
        background-color: $shadeLighter;
        transition: background-color 0s linear $ttime;
    }

    &:not(.hovered) {
        background-color: $shadeLightest;
        transition: background-color 0s linear $ttime;
    }

    &:hover .navigation_default-menuSVG svg,
    &:hover:not(.hovered) .navigation_default-menuSVG svg,
    &.hovered .navigation_default-menuSVG svg {
        transform: rotate(90deg);
    }

    &:not(.hovered) .navigation_default-menuSVG svg {
        transform: rotate(0deg);
    }

    &:hover .navigation_default-submenuContainer-outer,
    &:hover:not(.hovered) .navigation_default-submenuContainer-outer,
    &.hovered .navigation_default-submenuContainer-outer {
        visibility: visible !important;
        transition: visibility 0s linear $ttime;
        height: 22em;
    }

    &:not(:hover) .navigation_default-submenuContainer-outer:not(:hover),
    &:not(.hovered) .navigation_default-submenuContainer-outer:not(.hovered) {
        visibility: hidden;
        transition: visibility 0s linear $ttime;
    }
}

.navigation_default-submenu {
    @include media-l {
        width: width(l-4);
        font-size: $base-font-size-l;
        line-height: $base-line-height-l;
    }

    @include media-m {
        width: width(m-4);
        font-size: $base-font-size-m;
        line-height: $base-line-height-m;
    }

    @include media-s {
        width: width(s-6);
        font-size: $base-font-size-s;
        line-height: $base-line-height-s;
    }
    list-style-type: none;
    display: flex;
    float: left;
    flex-flow: column;
    padding-bottom: $magic-l;
    padding-top: $magic-l/2;
    align-items: stretch;
    position: relative;

    .navigation_default-submenu {
        position: absolute;
        left: width(l-4);
        top: 0;
    }
}

.navigation_default-submenuContainer-outer {
    display: flex;
    flex: 1 0 100vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 56px;
    width: 100%;
    background: $shadeLighter;
    z-index: 10;
    justify-content: center;
    align-items: flex-start;
}

.navigation_default-submenuContainer-inner {
    @include media-l {
        @include width-l-12;
    }

    @include media-m {
        @include width-m-12;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation_default-submenuItem {
    display: flex;
    align-items: center;
    float: left;
    flex-grow: 0;
    font-size: $base-font-size-l;
    line-height: $base-line-height-l;
    margin: 0;
    padding: $magic-l/4 $magic-l/2;
    justify-content: flex-start;
    z-index: 20;

    svg {
        margin-left: $magic-l/2;
    }

    &::before {
        content: "";
        padding: 0;
        margin: 0;
    }

    a::after {
        content: "";
        padding: 0;
        margin: 0;
    }

    a {
        padding: 2px;
    }

    &.-actSub > a,
    &.-curIfSub > a,
    &.-actIfSub > a,
    &.-cur > a {
        font-weight: bold;
    }

    // hide and show submenus when hovered
    &:hover,
    &.hovered {
        background-color: $shadeLight;

        .navigation_default-submenu {
            visibility: visible !important;
            transition: visibility 0s linear $ttime;
        }
    }

    &:not(:hover),
    &:not(:hover):not(.hovered) {
        background-color: $shadeLighter;
    }

    &:not(:hover) .navigation_default-submenu,
    &:not(:hover):not(.hovered) .navigation_default-submenu {
        visibility: hidden !important;
        transition: visibility 0s linear $ttime;
    }

    &.hover a {
        background-color: $shadeLight;
    }
}
