.news {
    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: $magic-l / 2 !important;
        margin-bottom: $magic-l / 2 !important;

        a {
            color: $shadeDarkest;
        }

        .meta {
            color: $shadeDarkest;
            font-size: $base-font-size-l;
            line-height: $base-line-height-l;
            font-weight: normal;
            display: flex;
            flex-direction: column;
        }

        .list-dateNAuthor {
            display: flex;
        }

        .news-list-category {
            color: $shadeDarkest;
            font-size: $base-font-size-l;
            line-height: $base-line-height-l;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            margin-top: $magic;

            .-item {
                background: $accent;
                border-radius: $magic / 2;
                padding: $magic/4 $magic;
                margin-right: $magic;
                margin-bottom: $magic;
                white-space: nowrap;
                display: flex;
                flex-grow: 0;
            }
        }

        .-by {
            font-style: italic;
            padding-right: 0.4em;
            padding-left: 0.3em;
            font-weight: normal;
        }
    }

    .img-wrap {
        @include media-l {
            width: width(l-2);
            height: width(l-2) / 16 * 9;
            padding-right: $magic-l / 2;
        }

        @include media-m {
            width: width(m-2);
            height: width(m-2) / 16 * 9;
            padding-right: $magic-m / 2;
        }

        @include media-s {
            width: width(s-6);
            height: width(s-6) / 16 * 9;
        }
        display: flex;
        overflow: hidden;
        align-items: center;

        a {
            border: none;
            padding: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .page-navigation a::after {
        content: "";
    }

    .news-header {
        @include media-l {
            width: width(l-8);
            padding-left: $magic-l / 2;
        }

        @include media-m {
            width: width(m-8);
            padding-left: $magic-m / 2;
        }

        @include media-s {
            width: width(s-6);
        }
        font-size: $large-font-size-l;
        line-height: $large-line-height-l;
        font-weight: bold;
        align-content: flex-start;

        .title {
            @include media-l {
                @include span-l-8;
            }

            @include media-m {
                @include span-m-8;
            }

            @include media-s {
                @include span-s-6;
            }
        }
    }

    .teaser-text {
        padding: 0;
        margin-bottom: 0;
        overflow: hidden;
        display: flex;

        p {
            margin: 0;
            padding-bottom: $magic;
            display: flex;
        }
    }
}
