.news {
    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: $magic-l / 2 !important;
        margin-bottom: $magic-l / 2 !important;

        a {
            color: $shadeDarkest;
        }

        .meta {
            color: $shadeDarkest;
            font-size: $base-font-size-l;
            line-height: $base-line-height-l;

            .news_list-category {
                display: flex;
            }

            .list-category {
                font-size: 12px;
                display: flex;

                .-item {
                    background: $accent;
                    border-radius: $magic-l/4;
                    padding: $magic-l/8 $magic-l/2;
                    margin: $magic-l/2 0;
                    white-space: nowrap;
                }
            }

            .-by {
                font-style: italic;
                padding-right: 0.4em;
                padding-left: 0.3em;
                font-weight: 300;
            }
        }
    }

    .img-wrap {
        @include media-l {
            width: width(l-2);
            height: width(l-2) / 16 * 9;
            padding-right: $magic-l / 2;
        }

        @include media-m {
            @include span-m-2;
            padding-right: $magic-m / 2;
        }

        @include media-s {
            @include span-s-2;
        }
        display: flex;
        overflow: hidden;
        align-items: center;

        a {
            border: none;
            padding: 0;
        }

        img {
            width: 100%;
            height: auto;
            border: 0.2px solid $shadeLighter;
        }
    }

    .news_info {
        @include media-l {
            @include span-l-10;
        }

        @include media-m {
            @include span-m-10;
        }

        @include media-s {
            @include span-s-6;
        }
    }

    .page-navigation a::after {
        content: "";
    }

    .news_header {
        @include media-l {
            @include span-l-8;
        }

        @include media-m {
            @include span-m-8;
        }

        @include media-s {
            @include span-s-6;
        }
        font-size: $large-font-size-l;
        line-height: $large-line-height-l;
        font-weight: bold;
        align-content: flex-start;

        .title {
            @include media-l {
                @include span-l-8;
            }

            @include media-m {
                @include span-m-8;
            }

            @include media-s {
                @include span-s-6;
            }
        }
    }
}
