.pz2-mainForm {
    a {
        color: $shadeDarkest;
    }

    li::before {
        content: "";
        padding: 0;
    }

    ul {
        padding: 0;
    }

    select {
        @include form-select--large;
    }

    legend {
        @include form-checkbox;
    }

    fieldset {
        margin-bottom: $magic * 2;
    }

    .pz2-fieldsets {
        display: flex;
        width: width(l-8);

        label {
            display: flex;
            width: 100%;
        }

        br {
            display: none;
        }
    }

    .pz2-fieldset-group ul li {
        @include form-checkbox;
        width: 100%;
        display: flex;
        padding-top: $magic;
        padding-bottom: $magic;
        padding-left: 0;

        &::before {
            content: "";
            padding: $magic;
        }
    }

    #pz2-recordView {
        width: width(l-10);
        padding: 0;
    }

    #pz2-navi {
        display: flex;
        width: 100%;
    }

    #pz2-termLists {
        display: flex;
        width: width(l-3);
        flex-direction: column;

        h4,
        h5 {
            margin: 0;
        }

        .pz2-progressIndicator {
            display: none;
        }
    }

    #pz2-results {
        margin: 0;

        .pz2-extraLinks {
            position: static;
            display: flex;

            a {
                color: $shadeDarkest;
                text-decoration: none !important;
            }

            input {
                color: $shadeDarkest;
                text-decoration: none !important;
            }

            ul {
                padding: 0;
            }
        }
    }

    .pz2-resultList {
        display: flex;
        width: width(l-7);
        padding: $magic 0 !important;
        padding-right: $magic-l !important;
        flex-direction: column;

        li {
            padding: 0 !important;
        }
    }

    .pz2-progressIndicator {
        background-color: $shadeLighter;
    }

    .pz2-pager {
        display: flex;
        margin: 0;
        position: relative;
        width: width(l-10);
        align-items: center;
        justify-content: center;
        padding: 0;

        .pz2-currentPage {
            background-color: $brand;
            color: $white;
        }

        .pz2-progressIndicator {
            max-width: width(l-7);
        }
    }

    .pz2-pageNumbers {
        display: flex;
        flex-grow: 1;
        width: width(l-7);
        align-items: center;
        justify-content: flex-start;
        margin: 0 !important;

        li {
            padding: 0 $magic;
            margin: 0 $magic;
            width: 32px;
            height: 32px;

            &::before {
                content: "";
                padding: 0;
            }
        }
    }

    .pz2-recordCount {
        display: flex;
        width: width(l-3);
        position: static;
    }

    .pz2-prev,
    .pz2-next {
        display: flex;
        align-items: center;
        position: static;
        top: 0;
        width: 34px;
        height: $base-line-height-l;
        overflow: hidden;
        text-indent: 0;
        font-family: "Open Sans", sans-serif;

        &::after {
            content: "";
            display: none;
        }
    }

    .pz2-prev {
        margin-right: $magic;
    }

    .pz2-next {
        margin-left: $magic;
    }

    // the span is not clickable
    span.pz2-prev,
    span.pz2-next {
        color: $shadeLight;
        display: none;
    }

    // the anchor is clickable
    a.pz2-prev,
    a.pz2-next {
        color: $shadeDarkest;
        padding: 0;

        svg {
            width: 1.5em;
            height: 1em;
            fill: $brand;
        }
    }

    .pz2-pages {
        li:first-of-type {
            margin-left: 0;
        }
    }
}
