.news {
    .article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            color: $shadeDarkest;
        }

        .meta {
            color: $shadeDarkest;
            font-size: $base-font-size;
            line-height: $base-line-height;

            .news_list-category {
                display: flex;
            }

            .-list-category {
                font-size: 12px;
                display: flex;

                .-item {
                    background: $accent;
                    border-radius: $base-font-size/4;
                    padding: $base-font-size/8 $base-font-size/2;
                    margin: $base-font-size/2 0;
                    white-space: nowrap;
                }
            }

            .-by {
                font-style: italic;
                padding-right: 0.4em;
                padding-left: 0.3em;
                font-weight: 300;
            }
        }
    }

    .-img-wrap {
        @include media-l {
            @include span-l-2;
        }

        @include media-m {
            @include span-m-2;
        }

        @include media-s {
            @include span-s-2;
        }

        a {
            border: none;
            padding: 0;
        }

        img {
            box-sizing: border-box;
            width: (2 * $column);
            height: auto;
            border: 0.5px solid $shadeLight;
            // margin: 0 $base-font-size/2 $base-font-size/2 0;
        }
    }

    .teaser-text {
        @include media-l {
            @include span-l-10;
        }

        @include media-m {
            @include span-m-10;
        }

        @include media-s {
            @include span-s-6;
        }
    }

    .page-navigation a::after {
        content: "";
    }
}

.news_header {
    @include media-l {
        @include span-l-8;
    }

    @include media-m {
        @include span-m-8;
    }

    @include media-s {
        @include span-s-6;
    }
    font-size: $large-font-size;
    line-height: $large-line-height;
    font-weight: bold;
    align-content: flex-start;

    .title {
        @include media-l {
            @include span-l-8;
        }

        @include media-m {
            @include span-m-8;
        }

        @include media-s {
            @include span-s-6;
        }
    }
}
