* {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: none;
    outline: none;

    &:focus {
        outline: 1px solid $shadeLight;
    }
}


html {
    height: 100%;
}

body {
    @include media-l {
        font-size: $base-font-size-l + 2;
        line-height: $base-line-height-l + 2;
        min-width: width(l-12);
    }

    @include media-m {
        font-size: $base-font-size-m + 2;
        line-height: $base-line-height-m + 2;
        min-width: width(m-12);
    }

    @include media-s {
        font-size: $base-font-size-s;
        line-height: $base-line-height-s;
        min-width: width(s-6);
    }
    color: $shadeDarkest;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body.NonResponsive {
    min-width: 1000px;
}

h1 {
    @include media-l {
        font-size: $huge-font-size-l - 1;
        line-height: $huge-line-height-l + 10;
        padding-top: $magic-l;
        padding-bottom: $magic-l/2;
    }

    @include media-m {
        font-size: $huge-font-size-m - 1;
        line-height: $huge-line-height-m + 10;
        padding-top: $magic-m/2;
        padding-bottom: $magic-m/4;
    }

    @include media-s {
        font-size: $large-font-size-s+2;
        line-height: $large-line-height-s+2;
        padding-top: $magic-s + 2;
        padding-bottom: $magic-s - 2;
    }
    font-weight: 600;
    margin: 0;
    width: 100%;
}

h2 {
    @include media-l {
        font-size: $huge-font-size-l - 4;
        line-height: $huge-line-height-l;
        padding-top: $magic-l;
        padding-bottom: $magic-l/2;
    }

    @include media-m {
        font-size: $huge-font-size-m - 4;
        line-height: $huge-line-height-m;
        padding-top: $magic-m;
        padding-bottom: $magic-m/2;
    }

    @include media-s {
        font-size: $large-font-size-s - 1;
        line-height: $large-line-height-s - 2;
        padding-top: $magic-s + 2;
        padding-bottom: $magic-s - 2;
    }
    font-weight: 600;
    margin: 0;
    width: 100%;
}

h3 {
    @include media-l {
        font-size: $large-font-size-l + 1;
        line-height: $large-line-height-l + 4;
        padding-top: $magic-l;
        padding-bottom: $magic-l/2;
    }

    @include media-m {
        font-size: $large-font-size-m + 1;
        line-height: $large-line-height-m + 4;
        padding-top: $magic-m;
        padding-bottom: $magic-m/2;
    }

    @include media-s {
        font-size: $large-font-size-s - 1;
        line-height: $large-line-height-s - 2;
        padding-top: $magic-s + 2;
        padding-bottom: $magic-s - 2;
    }
    font-weight: 600;
    margin: 0;
    width: 100%;
}

h4 {
    @include media-l {
        font-size: $base-font-size-l + 6;
        line-height: $base-line-height-l + 8;
        padding-top: $magic-l;
        padding-bottom: $magic-l/2;
    }

    @include media-m {
        font-size: $base-font-size-m + 4;
        line-height: $base-line-height-m;
        padding-top: $magic-m;
        padding-bottom: $magic-m/2;
    }

    @include media-s {
        font-size: $base-font-size-s + 4;
        line-height: $base-line-height-s;
        padding-top: $magic-s + 2;
        padding-bottom: $magic-s - 2;
    }
    font-weight: 600;
    margin: 0;
    width: 100%;
}

img {
    padding: 0;
    margin: 0;
    outline: 1px solid $shadeLighter;
    object-fit: cover;
    display: flex;
    border: none;
}

a {
    text-decoration: none;
}

p,
ul,
h1,
h2,
h3,
h4 {
    a {
        @include link-plus();
    }
}

p {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: $magic-l/2;
}

ul {
    font-weight: normal;
    list-style: none;
    padding: $magic/2 0 $magic;
    margin: 0;
}

li {
    display: table-row;

    &::before {
        content: ".";
        bottom: 0.325em;
        font-weight: 600;
        display: table-cell;
        padding-right: $magic-l/2 + 1;
        padding-left: $magic-l/2 + 1;
        position: relative;
    }
}

hr {
    display: none;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.strong {
    font-weight: bold;
    overflow: hidden;
}

.removed {
    display: none !important;
}

.inserted {
    display: flex !important;
}

.printHeader {
    display: none;
}

.hidden {
    display: none !important;
}

.visible-hidden {
    position: absolute;
    top: 0;
    left: -999px;
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.visible-shown {
    position: static;
    height: auto;
    width: auto;
    clip: auto;
}

.-hide {
    display: none !important;
}
