.search-bar_outer {
    display: none;
}

.search-bar_inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-tips {
    @include link-marker;

    font-size: $large-font-size-l -2px;
    padding-top: ($magic * 2);
    text-align: right;

    a,
    a:focus,
    a:visited,
    a:active {
        color: $brand;
    }
}

.search-bar-title {
    display: flex;
    width: 100%;
    background-color: $accent;
    justify-content: center;
}

.search-bar-title__text-title {
    @include media-l {
        margin-left: $magic-l;
    }

    @include media-m {
        margin-left: $magic-m;
    }

    @include media-s {
        margin-left: $magic-s;
    }
    font-size: $huge-font-size-l - 1;
    font-weight: 600;
    line-height: $huge-line-height-l + 10;
    padding-top: $magic-l;
    padding-bottom: $magic-l/2;
    padding-right: ($magic * 2);
}

.search-bar-title__text-subtitle {
    font-size: 22px;
    font-weight: 600;
}

.search-bar-title__content {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
    display: flex;
    flex-grow: 0;
    padding-bottom: ($magic * 1.5);
    padding-top: ($magic * 1.5);
}



.search-bar-form {
    @include media-l {
        width: width(l-12);
        flex-wrap: nowrap;
    }

    @include media-m {
        width: width(m-12);
        flex-wrap: nowrap;
    }

    @include media-s {
        width: width(s-6);
        flex-wrap: wrap;
    }

    @include wrap--outer;
    margin-bottom: ($magic * 2);
    padding-top: (1.5 * $magic);
    display: flex;
}

.search-bar-form__content {
    @include media-l {
        flex-flow: row nowrap;
    }

    @include media-m {
        flex-flow: row nowrap;
    }

    @include media-s {
        flex-flow: column wrap;
    }
    display: flex;
    justify-content: space-between;
    padding: 16px inherit;

    form {
        display: inline-flex;
    }
}


.search-bar-select {
    @include media-l {
        width: width(l-4);
    }

    @include media-m {
        width: width(m-4);
    }

    @include media-s {
        width: width(s-6);
    }
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.search-bar-select-item {
    @include form-radio;

    @include media-l {
        width: width(l-4);
    }

    @include media-m {
        width: 100%;
    }

    @include media-s {
        width: width(s-6);
    }

    padding-top: ($magic / 2);

    label {
        font-size: 22px;
        line-height: normal !important;
    }
}



.search-bar-input {
    @include media-l {
        flex-basis: width(l-4);
    }

    @include media-m {
        flex-basis: width(m-4);
    }

    @include media-s {
        flex-basis: width(s-6);
    }
    display: flex;

    input {
        @include form-input-text;
        @include form-input-text--font-size-large;
    }
}



.search-bar-misc {
    @include media-l {
        width: width(l-4);
    }

    @include media-m {
        width: width(m-4);
    }

    @include media-s {
        width: width(s-6);
    }
    display: flex;
    flex-flow: column nowrap;

    button {
        @include button;
        @include button-color--brand;
        @include button-size--default;
    }
}
