.search-bar_inner {
    .search-tips {
        display: inline;
    }
}

.search-tips {
    @include link-marker;

    font-size: 22px;
    padding-top: ($magic * 2);
    text-align: right;

    a,
    a:focus,
    a:visited,
    a:active {
        color: $brand;
    }
}

.pagination {
    svg {
        fill: $brand;
        width: 1.6em;
        height: 1em;
    }
}
