.search-bar_outer {
    background: $accent;
    display: none;
    height: 56px;
}

.search-bar_inner {
    margin: 0 auto;
    width: 960px;

    .search-tips {
        display: inline;
    }
}

.search-form-label_search {
    display: none;
}

.search-form {
    display: inline;
}
