$brand: #183267;
$accent: #f4d64a;
$shadeDarkest: #191919;
$shadeDark: #545454;
$shadeLight: #a8a8a8;
$shadeLighter: #e5e5e5;
$shadeLightest: #f2f2f2;
$white: #fff;

$small-font-size: 15px;
$base-font-size: 16px;
$large-font-size: 24px;
$huge-font-size: 32px;

$base-line-height: 24px;
$large-line-height: 32px;
$huge-line-height: 40px;

$width: 960px;

$column: 64px;
$gutter: 16px;
