$brand: #183267;
$accent: #f4d64a;
$shadeDarkest: #191919;
$shadeDark: #545454;
$shadeLight: #a8a8a8;
$shadeLighter: #e5e5e5;
$shadeLightest: #f2f2f2;
$white: #fff;

$font-size: 16px;

$c: 64px;
$g: 16px;
