.content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    display: block;
    min-width: width(l-3);
}

figure {
    margin: 0;
    display: block;
    margin-top: $magic-l/3;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: $magic;

    > .image-caption {
        text-align: right;
        font-weight: normal;
        font-size: $small-font-size-l;
        line-height: $small-line-height-l;
        display: inline-block;
        caption-side: bottom;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 0;

        a {
            @include link-plus();
        }
    }
}

.figures {
    display: flex;
    justify-content: center;
}

.figure-single {
    @include flex-center;
}

.figure-center-above {
    display: flex;
    justify-content: center;

    @for $i from 1 through 5 {
        &.cols-#{$i}:first-of-type {
            margin-right: auto;
            margin-left: auto;
            width: width(l-#{$i}) - $magic;
        }

        &.cols-#{$i}:nth-of-type(2) {
            width: width(l-#{$i}) - $magic;
        }
    }

    @for $i from 6 through 10 {
        &.cols-#{$i}:first-of-type {
            margin-right: 0;
            width: width(l-#{$i}) - $magic;
            float: left;
        }
    }
}

.figures .figure-center-above {
    @for $i from 1 through 5 {
        &.cols-#{$i}:first-of-type {
            margin-right: $magic * 2;
            margin-left: 0;
            width: width(l-#{$i}) - $magic;
        }

        &.cols-#{$i}:nth-of-type(2) {
            width: width(l-#{$i}) - $magic;
        }
    }
}

// css is only catered for one image with floating text
.figure-left-intext {
    display: block;
    float: left;

    &.cols-1 {
        margin-right: $magic;
        width: width(l-1) - $magic;
    }

    &.cols-10 {
        margin-right: 0;
    }

    @for $i from 2 through 9 {
        &.cols-#{$i} {
            margin-right: $magic * 2;
            width: width(l-#{$i}) - $magic;
        }
    }
}

.figure-right-intext {
    display: block;
    float: right;

    &.cols-1 {
        margin-left: $magic;
        width: width(l-1) - $magic;
    }

    &.cols-10 {
        margin-left: 0;
    }

    @for $i from 2 through 9 {
        &.cols-#{$i} {
            margin-left: $magic * 2;
            width: width(l-#{$i}) - $magic;
        }
    }
}
