.content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    display: block;
    min-width: width(l-3);
}

figure {
    margin: 0;
    display: block;
    margin-top: $magic-l/3;
    padding-bottom: $magic;

    > .image-caption {
        text-align: right;
        font-weight: normal;
        font-size: $small-font-size-l;
        line-height: $small-line-height-l;
        display: inline-block;
        caption-side: bottom;
        justify-content: flex-end;
        width: 100%;

        a {
            @include link-plus();
        }
    }

    img {
        width: 100%;
    }
}

.figures {
    display: flex;
    justify-content: center;
}

.figure-single {
    @include flex-center;
}

.figure-center-above {
    justify-content: center;

    @for $i from 1 through 5 {
        &.cols-#{$i}:first-of-type {
            @include media-l {
                width: width(l-#{$i}) - $magic-l;
            }

            @include media-m {
                width: width(m-#{$i}) - $magic-m;
            }

            @include media-s {
                width: width(s-6) - $magic-s;
            }
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.figures .figure-center-above {
    @for $i from 1 through 5 {
        &.cols-#{$i}:first-of-type {
            @include media-l {
                width: width(l-#{$i}) - $magic-l;
            }

            @include media-m {
                width: width(m-#{$i}) - $magic-m;
            }

            @include media-s {
                width: width(s-6) - $magic-s;
            }
            margin-right: $magic * 2;
            margin-left: 0;
        }

        &.cols-#{$i}:nth-of-type(2) {
            @include media-l {
                width: width(l-#{$i}) - $magic-l;
            }

            @include media-m {
                width: width(m-#{$i}) - $magic-m;
            }

            @include media-s {
                width: width(s-6) - $magic-s;
            }
        }
    }
}

// css is only catered for one image with floating text
.figure-left-intext {
    display: block;
    float: left;

    &.cols-1 {
        @include media-l {
            width: width(l-1) - $magic-l;
        }

        @include media-m {
            width: width(m-1) - $magic-m;
        }

        @include media-s {
            width: width(s-6) - $magic-s;
        }
        margin-right: $magic;
    }

    &.cols-10 {
        margin-right: 0;
    }

    @for $i from 2 through 9 {
        &.cols-#{$i} {
            @include media-l {
                width: width(l-#{$i}) - $magic-l;
            }

            @include media-m {
                width: width(m-#{$i}) - $magic-m;
            }

            @include media-s {
                width: width(s-6) - $magic-s;
            }
            margin-right: $magic * 2;
        }
    }
}

.figure-right-intext {
    display: block;
    float: right;

    &.cols-1 {
        @include media-l {
            width: width(l-1) - $magic-l;
        }

        @include media-m {
            width: width(m-1) - $magic-m;
        }

        @include media-s {
            width: width(s-6) - $magic-s;
        }
        margin-left: $magic;
    }

    &.cols-10 {
        margin-left: 0;
    }

    @for $i from 2 through 9 {
        &.cols-#{$i} {
            @include media-l {
                width: width(l-#{$i}) - $magic-l;
            }

            @include media-m {
                width: width(m-#{$i}) - $magic-m;
            }

            @include media-s {
                width: width(s-6) - $magic-s;
            }
            margin-left: $magic * 2;
        }
    }
}

// Make sure, anchors jump correctly, despite fixed header
div[id*="c"]::before {
    display: block;
    content: ' ';
    margin-top: -68px;
    height: 68px;
    visibility: hidden;
}
