@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

body {
    color: $shadeDarkest;
    font-size: 22px;
    margin: 0px auto;
    padding: 0px;
    font-family: Open Sans;
    margin: 0 auto;
    overflow:scroll
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin: 0px;
    padding-top: 11px;
    padding-bottom: 7px;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
h3 {
    font-size: 28px;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
h4 {
    font-size: 24px;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

img {
    padding: 0px !important;
    margin: 0px !important;
}

a {
    color: $brand;
    text-decoration: none;
}

p {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;

    a {
        font-weight: bold;

        &:after {
            content: "+";
            position: relative;
            top: -10px;
        }
    }
}

.-col {
    float: left;
}

.-item {
    float: left;
}

// Media-size dependent configurations
// column- and gutter-width
@for $i from 1 through 12 {
    .-span#{$i} {width: ($i * $c + ($i - 1) * $g);}
    .-col {margin: $g 0;}
}

@media only screen and (max-width: 320px) {
    $c: 64px;
    $g: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    $c: 64px;
    $g: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    $c: 64px;
    $g: 16px;
}

@media only screen and (min-width: 961px) {
    $c: 64px;
    $g: 16px;
}
