@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    color: $shadeDarkest;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    margin: 0px;
    padding-top: 11px;
    padding-bottom: 7px;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
h3 {
    font-size: 28px;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
h4 {
    font-size: 24px;
    line-height: 40px;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

img {
    padding: 0px !important;
    margin: 0px !important;
}

a {
    color: $brand;
    text-decoration: none;
}

p {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;

    a {
        font-weight: bold;

        &:after {
            content: "+";
            position: relative;
            top: -10px;
        }
    }
}

.strong {
    font-weight: bold;
}
