dl {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    @include media-l {
        @include span-l-10;
    }
    @include media-m {
        @include span-m-10;
    }
    @include media-s {
        @include span-s-6;
    }
    justify-content: stretch !important;
    align-items: stretch !important;

    p {
        margin: 0;
    }
}

dt {
    display: flex;
    margin: 0;
    font-weight: normal;

    @include media-l {
        @include span-l-4;
        padding-bottom: 16px;
        padding-left: 8px;
        align-items: flex-end !important;
        text-align: right;
    }
    @include media-m {
        @include span-m-4;
        padding-bottom: 16px;
        padding-left: 8px;
        align-items: flex-end !important;
        text-align: right;
    }
    @include media-s {
        @include span-s-6;
        padding-bottom: 4px;
        align-items: flex-start !important;
        text-align: left;
    }
    justify-content: flex-start !important;
    align-items: center !important;
    text-align: right;
    flex-flow: column !important;
}

dd {
    display: flex;
    margin: 0;

    @include media-l {
        @include span-l-6;
        padding-bottom: 16px;
        padding-left: 8px;
    }
    @include media-m {
        @include span-m-6;
        padding-bottom: 16px;
        padding-left: 8px;
    }
    @include media-s {
        @include span-s-6;
        padding-bottom: 4px;
    }
    justify-content: flex-start !important;
    align-items: center !important;
}
