.doubleColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: 100%;
    font-size: 16px;
    line-height: 24px;

    & > h1 {
        flex-basis: 100%;
        background: white;
    }
}

.doubleColumn-col1 {
    padding-right: 8px;
}

.doubleColumn-col2 {
    padding-left: 8px;
}
