$grid-s-width: 312px;
$grid-m-width: 768px;
$grid-l-width: 960px;

$media-s: "(max-width: 767px)";
$media-m: "(min-width: 768px)";
$media-l: "(min-width: 960px)";

$grid-l-col: 64px;
$grid-l-gutter: 16px;

$grid-m-col: 48px;
$grid-m-gutter: 16px;



@mixin wrap--outer {
    width: 100%;
    max-width: 100%;
}


@mixin wrap--inner {
    margin: 0 auto;
    padding: 0 8px;

    @media #{$media-m} {
        width: $grid-m-width;
    }

    @media #{$media-l} {
        width: $grid-l-width;
    }
}


@mixin cols($value) {
    @media #{$media-m} {
        width: ($grid-m-col * $value) + ($grid-m-gutter * ($value - 1));
    }

    @media #{$media-l} {
        width: ($grid-l-col * $value) + ($grid-l-gutter * ($value - 1));
    }
}



.search-bar {
    display: none;
}



.search-bar-title {
    @include wrap--outer;

    background-color: $accent;
}

.search-bar-title__content {
    @include wrap--inner;

    padding-bottom: 16px;
    padding-top: 16px;
}



.search-bar-form {
    @include wrap--outer;
}

.search-bar-form__content {
    @include wrap--inner;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 16px inherit;

    form {
        display: inline-flex;
    }
}


.search-bar-select {
    display: flex;
    flex-flow: column nowrap;
}

.search-bar-form__content div {
    @include cols(4);
}



.search-bar-input {
    input {
        width: 100%;
    }
}



.search-bar-misc {
    display: flex;
    flex-flow: column nowrap;

    button {
        width: 100%;
    }
}
