header {
    background-color: $brand;
    width: 100%;
    color: $white;
    font-size: 24px;

    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    a {
        color: $white;
    }

    .container {
        align-items: center;
    }

    .bildText {
        align-items: center;
    }

    .buttons {
        justify-content: space-between !important;
    }

    .-search,
    .-language {
        text-align: right;
        align-items: center;
    }

    .-image {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    header {

        & > * {
            padding: $g/2 0px;
        }

        .-image img {
            width: 174px;
        }

        .-search {
        }
    }
}

@media (min-width: 960px) {
    header {
        font-size: 24px;

        .header {
            padding: $g 0;

            .-image img {
                width: 188px;
                height: 41px;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        font-size: 20px;

        .header {
            padding: $g 0px;

            .-image img {
                width: 144px;
                height: 32px;
            }
        }
    }
}
