header {
    background-color: $brand;
    width: 100%;
    color: $white;
    font-size: 24px;

    a {
        color: $white;
    }

    .-search,
    .-language {
        text-align: right;
    }

    .-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
    }

    .-image {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    header {

        & > * {
            padding: $g/2 0px;
        }
        .-text::after {
            content: "Library AAC";
        }

        .-image img {
            width: 174px;
            height: 40px;
        }

        .-search {
        }
    }
}

@media (min-width: 960px) {
    header {
        font-size: 24px;

        .header {
            padding: $g 0;

            .-image img {
                width: 188px;
                height: 41px;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        font-size: 20px;

        .header {
            padding: $g 0px;

            .-image img {
                width: 144px;
                height: 32px;
            }

            .-text::after {
                content: "FID AAC";
                line-height: 38px;
            }
        }
    }
}
