header {
    background-color: $brand;
    width: 100%;
    display: flex;
    color: $white;
    font-size: 24px;

    a {
        color: $white;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
    }

    .-search,
    .-language {
        float: left;
        padding-right: $g;
    }
}
@media (min-width: 768px) {
    header {

        .-text::after {
            content: "Library AAC";
        }
    }

    .-image img {
        width: 174px;
        height: 40px;
    }
}
@media (max-width: 768px) {
    header {
        font-size: 20px;

        .-image img {
            width: 144px;
            height: 32px;
        }

        .-text::after {
            content: "FID AAC";
            line-height: 38px;
        }
    }
}
