last {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    background-color: $brand;
    width: 100%;
    color: $white;
    font-size: 16px;
    line-height: 24px;

    a {
        color: $white;
    }
}

.last {
    justify-content: center;
    padding: 8px 0;

    @include media-l {
        @include span-l-12;
    }
    @include media-m {
        @include span-m-12;
    }
    @include media-s {
        @include span-s-6;
    }
    margin: 0;
}

.last_information {
    display: flex;

    @include media-l {
        @include span-l-9;
    }
    @include media-m {
        @include span-m-9;
    }
    @include media-s {
        @include span-s-6;
    }

    a {
        padding-right: 16px;
        @include media-s {
            @include span-s-6;
        }
    }
}

.last_licence {

    @include media-l {
        @include span-l-3;
    }
    @include media-m {
        @include span-m-3;
    }
    @include media-s {
        @include span-s-6;
        text-align: left !important;
    }
    display: block !important;
    text-align: right !important;
}
