.main_outer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-height: 1em;
}

.main_inner {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }

    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0;
}

.overlay {
    flex: 1 100%;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 1;
}

.main_inner {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    flex-wrap: wrap;
    min-height: 1em;
    justify-content: center;

    // Fixes text to header
    // TODO: change name of element
    .span-12.center {
        margin-top: 0;
    }
}

.content {
    header p time {
        display: none;
    }

    .literature {
        padding-left: 16px;
        text-indent: -16px;
    }
}

.doubleColumn {
    @include media-l {
        @include span-l-12;
    }

    @include media-m {
        @include span-m-12;
    }

    @include media-s {
        @include span-s-6;
    }
    font-size: 16px;
}

.doubleColumn .content {
    column-count: 2;
    column-gap: 15px;
}

.singleColumn {
    @include media-l {
        @include span-l-10;
        font-size: 18px;
    }

    @include media-m {
        @include span-m-10;
        font-size: 18px;
    }

    @include media-s {
        @include span-s-6;
        font-size: 16px;
    }
    justify-content: flex-start !important;
}
