navigation {
    background-color: $shadeLightest;
    list-style-type: none;
    width: 100%;
    display: flex;

    &:after {
        content: "";
        clear: both;
        display: table;
    }
    padding-bottom: 16px;
    margin: auto;

    .-firstLevel {
        font-size: 24px;
        margin: 0 16px 0 24px;
    }

    .-secondLevel {
        font-size: 18px;
        margin: 0px 16px 0 24px;
    }

    .-thirdLevel {
        font-size: 14px;
        margin: 0px 16px 0 24px;
    }

    .-item {
        padding: 0 16px 0 16px;
        float: left;
    }
}
