navigation {
    background-color: $shadeLightest;
    list-style-type: none;
    width: 100%;

    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    a {
        color: $shadeDarkest;
    }

    svg {
        height: 1em;
        width: 1em;
    }
}

.navigation_default {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include media-l {
        font-size: 20px;
        line-height: 40px;
    }
    @include media-m {
        font-size: 20px;
        line-height: 40px;
    }
    @include media-s {
    }

    svg {
        fill: $shadeDarkest;
        padding-left: 2px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.navigation_default-firstLevel {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 0;

    @include media-l {
        @include span-l-12;
    }
    @include media-m {
        @include span-m-12;
    }
    @include media-s {
        @include span-s-6;
    }
}

.navigation_default-firstLevelItem {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;;

    @include media-l {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    @include media-m {
    }
    @include media-s {
    }

    &.-actSub,
    &.-curIfSub,
    &.-cur {
        background-color: $shadeLighter;
        font-weight: bold;
    }

    &.active {
        background-color: $shadeLighter;
    }

    &.inactive {
        background-color: $shadeLightest;
    }
}

.navigation_default-subLevel {
    display: flex;
    flex-flow: column;

    @include media-l {
        font-size: 16px;
        font-height: 24px;
    }
    @include media-m {
        font-size: 16px;
        font-height: 24px;
    }
    @include media-s {
    }
}

.navigation_default-subLevelContainerFull {
    display: flex;
    width: 100%;
    background-color: $shadeLighter;
    justify-content: center;
}

.navigation_default-subLevelContainer {
    display: flex;

    @include media-l {
        @include span-l-12;
    }
    @include media-m {
        @include span-m-12;
    }
    @include media-s {
        @include span-s-6;
    }
}

.navigation_default-subLevelContainerSmall {
    display: flex;
    align-items: flex-start;
}

.navigation_default-subLevelItem {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 28px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;

    &:first-child {
        margin-top: 16px;
    }

    &:last-child {
        margin-bottom: 16px;
    }

    svg {
        margin-left: 8px;
    }

    &.-actSub,
    &.-curIfSub,
    &.-actIfSub,
    &.-cur {
        font-weight: bold;
    }

    &.active {
        font-weight: bold;
    }

    &.inactive {
        font-weight: normal;
    }
}

.navigation_breadCrumbs {
    @include flex-center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 24px;
    align-self: center;
    align-items: center;

    @include media-l {
        @include span-l-12;
    }
    @include media-m {
        @include span-m-12;
    }
    @include media-s {
        @include span-s-6;
    }
}

.navigation_breadCrumbs-crumbs {
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;

    @include media-l {
        @include span-l-10;
    }
    @include media-m {
        @include span-m-10;
    }
    @include media-s {
        @include span-s-6;
    }

    svg {
        fill: $shadeDarkest;
        margin: 0px 8px;
    }
}
