.news {
    .article {

        a {
            color: $shadeDarkest;
        }

        .header {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }

        .meta {
            color: $shadeDarkest;
            font-size: 16px;
            line-height: 24px;

            .-list-category {
                font-size: 12px;

                .-item {
                    background: $accent;
                    border-radius: 4px;
                    padding: 0.1*$g 0.5*$g;
                    margin-right: 0.5*$g;
                }

                .-by {
                    font-style: italic;
                }
            }
        }
    }

    .-img-wrap {
        float: left;
        display: block;

        a {
            border: none;
            padding: 0;
        }

        img {
            box-sizing: border-box;
            width: (2 * $c);
            height: auto;
            border: 0.5px solid $shadeLight;
        }
    }
}
