.container {
    display: block;
    overflow: hidden;
    margin: 0 auto;

    .row {
        display: block;
        overflow: hidden;

        [class*="span-"] {
            float: left;
            box-sizing: border-box;
        }
    }
    .noPad {
        padding: 0 !important;
    }
}
