@import 'settings';

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "open Sans";
    font-size: 12pt;
    font-weight: 400;
    color: #191919;
}

a {
    color: #191919;
}

.header_outer,
.header-s_buttons,
.navigation_outer,
.footer_outer,
.last_outer,
.search-bar_outer,
.toTop_outer,
.footer-wrapper_outer,
video,
audio,
embed,
object {
    display: none;
}

a {
    text-decoration: none;
    word-wrap: break-word;
}

a[href^="http://"]::after,
a[href^="https://"]::after {
    content: " (" attr(href) ") ";
}

a[href^="#"]::after {
    display: none;
}

a button {
    display: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

ul {
    margin-left: 16px;
}

p,
ul,
ol,
h1,
h2,
h3,
h4 {
    margin-bottom: 5px;
}

h1 {
    padding-top: 15px;
}

h2 {
    padding-top: 10px;
}

h3 {
    padding-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

.printTitle {
    font-size: 24pt;
    font-weight: 600;
    padding: 0 48px 24px 0;
}

.news .news-img-wrap {
    img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .news-img-caption {
        margin-bottom: $magic * 2;
        font-size: 0.8em;
    }
}

.news .stairs-button {
    display: none;
}

fieldset {
    border: 0;
}

.tx-powermail .powermail_input {
    width: 97vw;
    padding: 0.33rem;
    font-size: 100%;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.tx-powermail .powermail_legend {
    font-size: 120%;
    font-weight: normal;
    margin-bottom: 0.33rem;
}

.tx-powermail h3 {
    display: none;
}

.tx-powermail .powermail_textarea {
    width: 97vw;
    height: 30vh;
    font-size: 100%;
    font-weight: lighter;
    padding: 0.33rem;
    border-style: inset;
}
