.sitemap {
    background-color: $shadeLightest;
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-wrap: wrap;

    a {
        padding-right: 8px;
        color: $shadeDarkest;
    }

    .-firstLevel {
        text-align: right;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-weight: normal;
    }
    .-secondlevel {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .sitemap {
        .-firstLevel {
            text-align: right;
            margin-top: 8px;
        }
        .-secondLevel {
            margin-top: 8px;

            &:last-child {
                margin-bottom: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .sitemap {
        .-firstLevel {
            text-align: left;
            margin-top: 13px;
        }
        .-secondLevel {
            margin-top: 4px;

            &:last-child {
                margin-bottom: 13px;
            }
        }
    }
}
