@mixin button() {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: "Open Sans";
    font-weight: normal;
    text-transform: none;
    text-shadow: none;
}

@mixin button-color--brand() {
    background-color: $brand;
    color: $white;

    svg {
        fill: $white;
    }
}

@mixin button-color--transparent() {
    background-color: transparent;
    outline: 1px solid $shadeDarkest;
}

@mixin button-color--custom($value) {
    background-color: $value;
}

@mixin button-size--default {
    @include media-l {
        font-size: $large-font-size-l - 2; // 22px
        padding: $magic;
    }

    @include media-m {
        font-size: $large-font-size-m - 2;
        padding: $magic-m / 2;
    }

    @include media-s {
        font-size: $large-font-size-s;
        padding: $magic-s / 2;
    }
}

@mixin button-size--small {
    @include media-l {
        font-size: $base-font-size-l - 2; // 22px
        padding: $magic;
    }

    @include media-m {
        font-size: $base-font-size-m - 2;
        padding: $magic-m / 2;
    }

    @include media-s {
        font-size: $base-font-size-s;
        padding: $magic-s;
    }
}
