@mixin button() {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

@mixin button-color--brand() {
    background-color: $brand;
    color: $white;

    svg {
        fill: $white;
    }
}

@mixin button-color--transparent() {
    background-color: transparent;
}

@mixin button-color--custom($value) {
    background-color: $value;
}

@mixin button--in-breadcrumb() {
    padding: 0;
    margin-bottom: $magic;

    svg {
        margin-right: $magic--half;
        height: 1em;
        width: 1em;
    }
}
