@mixin form-input-text {
    border: none;
    border-bottom: 1px solid $shadeDarkest;
    padding: 0;
    font-size: $base-font-size-l;
    font-family: "Open Sans";
    background-color: unset;
}

@mixin form-input-text--boxed() {
    border: 1px solid $shadeDarkest;
}

@mixin form-input-text--font-size-large() {
    font-size: ($magic * 2.75);
}
