@mixin link-plus() {
    color: $brand;
    font-weight: 400;
    text-decoration: none;

    &::after {
        content: "+";
        position: relative;
        top: -6px;
    }
}

@mixin link-empty() {
    color: $brand;
    font-weight: 400;
    text-decoration: none;

    &::after {
        content: "";
    }
}
