<div id="menu" class="grid_16">
	<h2 class="invisible">
		<f:translate key="LLL:EXT:tmpl_fidaac/Resources/Private/Language/locallang.xlf:Menu"/>
		<a href="#content">
			<f:translate key="LLL:EXT:tmpl_fidaac/Resources/Private/Language/locallang.xlf:Skip"/>
		</a>
	</h2>
	<f:cObject typoscriptObjectPath="lib.menu"/>

	<h2 class="invisible">
		<f:translate key="LLL:EXT:tmpl_fidaac/Resources/Private/Language/locallang.xlf:Switch language"/>
	</h2>
	<f:cObject typoscriptObjectPath="lib.language"/>
</div>
