<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
    <f:for each="{gallery.rows}" as="row">
        <f:for each="{row.columns}" as="column">
            <f:if condition="{column.media}">

                <f:if condition="{data.imageorient} == 100">
                    <figure class="figure-single">
                </f:if>
                <f:if condition="{data.imageorient} == 110">
                    <figure class="figure-float-left">
                </f:if>
                <f:if condition="{data.imageorient} == 120">
                    <figure class="figure-float-right">
                </f:if>

                <f:switch expression="{column.media.type}">
                    <f:case value="3">
                        <f:render section="audioType" arguments="{_all}"/>
                    </f:case>
                    <f:case value="4">
                        <f:render section="videoType" arguments="{_all}"/>
                    </f:case>
                    <f:case default="TRUE">
                        <f:render section="imageType" arguments="{_all}"/>
                    </f:case>
                </f:switch>

                <f:if condition="{column.media.description}">
                    <f:then>
                        <figcaption class="figure-caption">
                            {column.media.description}
                        </figcaption>
                    </f:then>
                </f:if>

                </figure>

            </f:if>
        </f:for>
    </f:for>
    <f:if condition="{gallery.position.horizontal} == 'center'">
        </div>
        </div>
    </f:if>
</f:if>
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:section name="imageType">
    <f:if condition="{column.media.link}">
        <f:then>
            <f:link.typolink parameter="{column.media.link}">
                <f:render section="media" arguments="{_all}"/>
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <ce:link.clickEnlarge image="{column.media}" configuration="{settings.media.popup}">
                        <f:render section="media" arguments="{_all}"/>
                    </ce:link.clickEnlarge>
                </f:then>
                <f:else>
                    <f:render section="media" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>

<f:section name="audioType">
    <f:render section="media" arguments="{_all}"/>
</f:section>

<f:section name="videoType">
    <f:render section="media" arguments="{_all}"/>
</f:section>
<f:section name="media">
    <f:media
        file="{column.media}"
        alt="{column.media.alternative}"
        title="{column.media.title}"
        class="img-{data.uid} cols-{data.imagecols}"
    />
</f:section>
</html>
