/* MEDIA TYPE ICON FONT */
@font-face {
    font-family: 'subicons';
    src: url('/typo3conf/ext/pazpar2/Resources/Public/pz2-client/sub-iconfont/SUB-Icon-Font/fonts/subicons.eot');
    src:
        url('/typo3conf/ext/pazpar2/Resources/Public/pz2-client/sub-iconfont/SUB-Icon-Font/fonts/subicons.eot?#iefix') format('embedded-opentype'),
        url('/typo3conf/ext/pazpar2/Resources/Public/pz2-client/sub-iconfont/SUB-Icon-Font/fonts/subicons.woff') format('woff'),
        url('/typo3conf/ext/pazpar2/Resources/Public/pz2-client/sub-iconfont/SUB-Icon-Font/fonts/subicons.ttf') format('truetype'),
        url('/typo3conf/ext/pazpar2/Resources/Public/pz2-client/sub-iconfont/SUB-Icon-Font/fonts/subicons.svg#subicons') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* BASIC ELEMENTS */
#pazpar2 {
    @include media-l {
        padding: 0;
        margin: 0 $magic-l;
        width: width(l-12);
    }

    @include media-m {
        padding: 0;
        margin: auto;
        width: width(m-12);
    }

    @include media-s {
        width: width(s-6);
        margin: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: $shadeDarkest;
    }

    ol {
        margin: 0;
    }

    ul {
        padding: 0;
    }

    li::before {
        content: "";
        padding: 0;
    }

    legend {
        @include form-checkbox;
    }

    select {
        @include form-select--large;
    }

    #inner-editor {
        @include form-input-text;
    }
}

.pz2-clear {
    display: block;
    height: 0;
    clear: both;
}

/* FIELD SETS */
.pz2-fieldsets {
    display: flex;
    width: width(l-8);

    label {
        display: flex;
        width: 100%;
    }

    fieldset {
        padding: 0;
        margin-bottom: $magic-l;
    }

    br {
        display: none;
    }
}

.pz2-fieldset-group {
    margin-bottom: $magic-l;

    fieldset {
        border: none;
    }

    ul {
        margin-left: $magic-l;

        li {
            @include form-checkbox;
            width: 100%;
            display: flex;
            padding-top: $magic;
            padding-bottom: $magic;
            padding-left: 0;

            &::before {
                content: "";
                padding: $magic;
            }
        }
    }
}


/* RESULTS */
.pz2-ranking {
    display: none;
}

#pz2-navi {
    display: none;
    width: 100%;
    margin-bottom: $magic-l;
}

#pz2-recordView {
    padding: 0;
    width: 100%;
    display: block;
}

.pz2-recordLink {
    display: block;

    &::after {
        position: relative;
        bottom: - $magic / 2;
        font-family: subicons;
        font-size: $large-font-size-l;
        content: "\e054";
    }
}

.pz2-detailsVisible .pz2-recordLink {
    &::after {
        display: none;
    }
}

#pz2-results {
    width: width(l-6);
    margin: 0;
}

#pz2-results .pz2-extraLinksLabel {
    display: none;
}

#pz2-results .pz2-extraLinks {
    position: static;
    display: flex;

    a {
        color: $shadeDarkest;
        text-decoration: none !important;
    }

    input {
        color: $shadeDarkest;
        text-decoration: none !important;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li input {
            border: 0 none;
            background: transparent;
            cursor: pointer;
            display: flex;
            padding: 0;

            input,
            a {
                text-decoration: none;
                font-weight: normal;
                font-size: 1em;
            }
        }
    }
}


.pz2-JSNote {
    margin-bottom: 1em;
}

.pz2-accessNote {
    align-self: flex-end;
    margin-bottom: $magic-l;
}

#pz2-stat {
    clear: both;
}

/* NEW AQUISITIONS */
.pz2-submitButton {
    @include button;
    @include button-color--brand;
    @include button-size--default;

    @include media-l {
        width: width(l-4) - $magic-l / 2;
    }

    @include media-m {
        width: width(m-4) - $magic-m / 2;
    }

    @include media-s {
        width: width(s-6);
        margin-bottom: $magic-s * 2;
    }
}

.pz2-months {
    @include form-select;
}

/* METASEARCH */
.pz2-fieldContainer {
    @include media-l {
        width: width(l-8);
    }

    @include media-m {
        width: width(m-8);
    }

    @include media-s {
        width: width(s-6);
    }
    border: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $magic-l;
    justify-content: flex-start;
    align-items: center;
}

.pz2-textFieldLabel {
    display: flex;
    justify-content: flex-start;
    width: width(l-2);
}

.pz2-basic .pz2-textFieldLabel {
    display: none; // "All fields"
}

.pz2-searchField {
    @include form-input-text;

    @include media-l {
        margin-bottom: $magic-l / 2;
    }

    @include media-m {
        margin-bottom: $magic-m / 2;
    }

    @include media-s {
        margin-bottom: $magic-s / 2;
    }
    display: flex;
    flex-basis: 100%;
    width: 100%;
}

.pz2-mainForm {
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

// hide extrafields in basic/standard search
.pz2-checkbox {
    @include form-checkbox;

    @include media-l {
        width: width(l-3);
    }

    @include media-m {
        width: width(m-3);
    }

    @include media-s {
        width: width(s-6);
    }
    display: none;
}

.pz2-checkbox.pz2-fulltext {
    width: 100%;
}

.pz2-extraFields {
    display: none;
}

.pz2-extended {
    .pz2-extraFields,
    .pz2-checkbox {
        display: block;
    }

    .pz2-searchField {
        width: width(l-5);
    }
}

.pz2-extendedLink {
    @include button;
    @include button-color--transparent;
    @include button-size--default;

    @include media-l {
        width: width(l-4) - $magic-l / 2;
    }

    @include media-m {
        width: width(m-4) - $magic-m / 2;
    }

    @include media-s {
        width: width(s-6);
    }
    margin: 0;
}

.pz2-formControls {
    @include media-l {
        width: width(l-8);
    }

    @include media-m {
        width: width(m-8);
    }

    @include media-s {
        width: width(s-6);
        flex-wrap: wrap;
    }
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: $magic;
    margin-bottom: $magic;
}

/* PZ2.css */


/* FACETS */
#pz2-termLists {
    @include media-l {
        width: width(l-4) - $magic-l;
        float: right;
    }

    @include media-m {
        width: width(m-4) - $magic-m;
        float: right;
    }

    @include media-s {
        position: absolute;
        padding: 0 $magic * 2;
        top: 117px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        z-index: 500;
        min-height: 400px;
    }

    h4 {
        display: none;
    }

    h5 {
        margin: 0;
    }

    .pz2-progressIndicator {
        display: none;
    }
}

.pz2-termList {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    h5 {
        text-transform: uppercase;
        font-size: 100%;
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    ol {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    li {
        list-style-type: none;

        a {
            position: relative;
            display: flex;
            font-weight: normal;
            justify-content: space-between;
        }
    }

    a {
        margin-bottom: $magic / 2;

        .pz2-facetCancel {
            font-weight: bold;
        }
    }

    span {
        position: relative;
    }

    .pz2-mediaIcon {
        display: block;
        position: absolute;
        left: 0;
        font-size: 24px;
    }
}

.pz2-termList-author ol {
    text-transform: capitalize;
}

.pz2-termList-medium {
    li a span.pz2-facetName {
        margin-left: 25px;
        position: relative;
        line-height: 19px;
    }

    .pz2-mediaIcon {
        top: -4px;
        width: 25px;
    }
}

.pz2-facetCount {
    display: flex;
    margin-left: $magic;
}

.pz2-facet-hidden {
    display: none;
}

.pz2-facet-showAll a {
    font-style: italic;
}

.pz2-activeFacet .pz2-facetName {
    font-weight: bold;
}

.pz2-histogramContainer {
    margin-left: -8px;
}

#pz2-histogram-tooltip {
    display: none;
    position: absolute;
    border: 1px solid $brand;
    padding: 2px;
    opacity: 0.8;
    font-size: $small-font-size-l;
    font-weight: bold;
}

.pz2-filterButton {
    @include media-l {
        display: none;
    }

    @include media-m {
        display: none;
    }

    @include media-s {
        @include button;
        @include button-color--brand;
        @include button-size--default;
        width: width(s-6);
        bottom: $magic-s * 4;
        margin: auto;
    }
}

/* PROGRESS INDICATOR */

.pz2-progressIndicator {
    background-color: $shadeLighter;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
}

/* PAGER */

.pz2-pager {
    width: 100%;
    display: flex;
    margin: 0;
    margin-bottom: $magic-l;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;

    &.pz2-bottom {
        clear: both;
    }

    .pz2-currentPage {
        background-color: $brand;
        color: $white;
    }

    .pz2-progressIndicator {
        @include media-l {
            max-width: width(l-7);
        }

        @include media-m {
            max-width: width(m-7);
        }

        @include media-s {
            max-width: width(s-6);
        }
    }
}

.pz2-pageNumbers {
    @include media-l {
        justify-content: flex-start;
        width: width(l-7) - $magic-l * 2;
    }

    @include media-m {
        justify-content: flex-start;
        width: width(m-7) - $magic-m * 2;
    }

    @include media-s {
        justify-content: center;
        margin-bottom: $magic;
        width: width(s-6);
    }
    position: relative;
    text-align: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0;
}

.pz2-pageNumbers li {
    padding: 0 $magic;
    margin: 0 $magic;
    width: 32px;
    height: 32px;

    &::before {
        content: "";
        padding: 0;
    }
}

.pz2-pageNumbers .pz2-pages {
    li:first-of-type {
        margin-left: 0;
    }
}

.pz2-pageNumbers .pz2-prev,
.pz2-pageNumbers .pz2-next {
    display: flex;
    align-items: center;
    position: static;
    top: 0;
    width: 34px;
    height: $base-line-height-l;
    overflow: hidden;
    text-indent: 0;
    font-family: "Open Sans", sans-serif;

    &::after {
        content: "";
        display: none;
    }
}

.pz2-pageNumbers .pz2-prev {
    margin-right: $magic;
}

.pz2-pageNumbers .pz2-next {
    margin-left: $magic;
}

// the span is not clickable
.pz2-pageNumbers span.pz2-prev,
.pz2-pageNumbers span.pz2-next {
    color: $shadeLight;
    display: none;
}

// the anchor is clickable
.pz2-pageNumbers a.pz2-prev,
.pz2-pageNumbers a.pz2-next {
    color: $shadeDarkest;
    padding: 0;

    svg {
        width: 1.5em;
        height: 1.5em;
        fill: $brand;
    }
}

.pz2-prev,
.pz2-next {
    display: inline-block;
    position: relative;
    top: 0.35em;
    width: 14px;
    height: 14px;
    overflow: hidden;
    text-indent: -100px;
    font-family: Helvetica, Arial, sans-serif;
}

.pz2-prev::after,
.pz2-next::after {
    position: absolute;
    top: 0;
    width: 14px;
    height: 14px;
    font-family: subicons;
    font-size: 14px;
    line-height: 10px;
}

.pz2-prev::after {
    left: 59px;
    content: "\e051";
}

.pz2-next::after {
    left: 50px;
    content: "\e053";
}

.pz2-pageCount-0 {
    visibility: hidden;
}

.pz2-pager {
    ol {
        padding: 0;
        display: inline;
    }

    li {
        display: inline;
        list-style-type: none;
    }

    .pz2-currentPage {
        font-weight: bold;
        padding: 0.3em;
    }
}

.pz2-pager a,
.pz2-prev,
.pz2-next,
.pz2-pagerGap {
    padding: 0 0.3em;
}

.pz2-recordCount {
    @include media-l {
        width: width(l-3);
        justify-content: flex-end;
    }

    @include media-m {
        width: width(m-3);
        justify-content: flex-end;
    }

    @include media-s {
        width: width(s-6);
        justify-content: center;
    }
    display: flex;
    position: relative;

    &:hover {
        font-weight: normal;
        cursor: pointer;
    }
}

.pz2-noJS .pz2-recordCount:hover {
    cursor: auto;
}

.pz2-noResults {
    font-size: 166%;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease;
}

/* RESULT ITEMS */
.pz2-resultList {
    @include media-l {
        width: width(l-8) - $magic-l * 2;
        padding: $magic-l 0 !important;
        padding-left: 35px;
    }

    @include media-m {
        width: width(m-8) - $magic-m * 2;
        padding: $magic-m 0 !important;
        padding-left: 35px;
    }

    @include media-s {
        width: width(s-6);
        padding: 0;
    }
    display: flex;
    flex-direction: column;
    float: left; /* required so we don't clear the sidebar/faceting when clearing our <li>s */


    li {
        padding: 0 !important;
        margin-bottom: 0.5em;
        list-style-type: none;
        border-left: 1px solid transparent;
        text-indent: -26px;
        margin-left: 26px;

        .pz2-detailsVisible {
            border-left: 1px solid #eee;
        }

        .pz2-title {
            left: 20px;
        }
    }

    .pz2-mediaIcon {
        position: relative;
        display: inline-block;
        top: 5px;
        font-size: 25px;
        width: 26px;
    }
}

.pz2-mediaIcon::before,
.pz2-mediaIcon::after {
    display: block;
    position: relative;
    text-indent: 0;
    font-family: subicons;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pz2-mediaIcon::before {
    display: none;
}

.pz2-mediaIcon::after {
    color: $shadeDarkest;
}

.pz2-mediaIcon::before { content: '\e023'; }
.pz2-mediaIcon::after { content: '\e022'; }

/* .pz2-mediaIcon.article:before { content:  '\e005'; } */
.pz2-mediaIcon.article::after {
    content: '\e004';
    left: -3px;
    width: 19px;
}
.pz2-mediaIcon.audio-visual::before { content: '\e011'; }
.pz2-mediaIcon.audio-visual::after { content: '\e010'; }
.pz2-mediaIcon.book::before { content: '\e001'; }
.pz2-mediaIcon.book::after {
    content: '\e000';
    width: 26px;
}
.pz2-mediaIcon.data::before { content: '\e00d'; }
.pz2-mediaIcon.data::after { content: '\e00c'; }
.pz2-mediaIcon.electronic::before { content: '\e00b'; }
.pz2-mediaIcon.electronic::after { content: '\e00a'; }
.pz2-mediaIcon.image::before { content: '\e01d'; }
.pz2-mediaIcon.image::after { content: '\e01c'; }
.pz2-mediaIcon.journal::before { content: '\e007'; }
.pz2-mediaIcon.journal::after { content: '\e006'; }
.pz2-mediaIcon.letter::before { content: '\e017'; }
.pz2-mediaIcon.letter::after { content: '\e016'; }
.pz2-mediaIcon.map::before { content: '\e00f'; }
.pz2-mediaIcon.map::after { content: '\e00e'; }
.pz2-mediaIcon.manuscript::before { content: '\e019'; }
.pz2-mediaIcon.manuscript::after { content: '\e018'; }
.pz2-mediaIcon.microform::before { content: '\e01b'; }
.pz2-mediaIcon.microform::after { content: '\e01a'; }
.pz2-mediaIcon.multiple::before { content: '\e021'; }
.pz2-mediaIcon.multiple::after { content: '\e020'; }
.pz2-mediaIcon.multivolume::before { content: '\e003'; }
.pz2-mediaIcon.multivolume::after { content: '\e002'; }
.pz2-mediaIcon.music-score::before { content: '\e015'; }
.pz2-mediaIcon.music-score::after { content: '\e014'; }
.pz2-mediaIcon.newspaper::before { content: '\e009'; }
.pz2-mediaIcon.newspaper::after { content: '\e008'; }
.pz2-mediaIcon.recording::before { content: '\e013'; }
.pz2-mediaIcon.recording::after { content: '\e012'; }
.pz2-mediaIcon.website::before { content: '\e01f'; }
.pz2-mediaIcon.website::after { content: '\e01e'; }

/*
	Use old-style bitmap icons for IE 7.
*/
*:first-child + html .pz2-mediaIcon {
    /* background: url(pz2-media-icons.png) transparent no-repeat; */
    background-position: 0 -40px;
}

*:first-child + html .pz2-mediaIcon.article { background-position: 0 0; }
*:first-child + html .pz2-mediaIcon.audio-visual { background-position: -20px 0; }
*:first-child + html .pz2-mediaIcon.book { background-position: -40px 0; }
*:first-child + html .pz2-mediaIcon.electronic { background-position: -60px 0; }
*:first-child + html .pz2-mediaIcon.multivolume { background-position: -80px 0; }
*:first-child + html .pz2-mediaIcon.letter { background-position: -100px 0; }
*:first-child + html .pz2-mediaIcon.journal { background-position: 0 -20px; }
*:first-child + html .pz2-mediaIcon.map { background-position: -20px -20px; }
*:first-child + html .pz2-mediaIcon.microform { background-position: -40px -20px; }
*:first-child + html .pz2-mediaIcon.music-score { background-position: -60px -20px; }
*:first-child + html .pz2-mediaIcon.manuscript { background-position: -80px -20px; }
*:first-child + html .pz2-mediaIcon.recording { background-position: -20px -40px; }
*:first-child + html .pz2-mediaIcon.website { background-position: -40px -40px; }
*:first-child + html .pz2-mediaIcon.multiple { background-position: -60px -40px; }
*:first-child + html .pz2-mediaIcon.image { background-position: -80px -40px; }

.pz2-title-main {
    font-weight: bold;
}

.pz2-item-multivolume-title {
    font-style: italic;
}

.pz2-item-responsibility {
    font-style: italic;
}

.pz2-journal-title {
    font-weight: bold;
}

.pz2-details {
    font-size: 85%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;

    a {
        @include link-plus();
        color: $brand !important;
    }

    dl {
        display: flex;
        margin: 0;
        width: width(l-6);
        flex-direction: row;
        flex-wrap: wrap;
    }

    dt {
        display: flex;
        margin: 0;
        text-align: right;
        font-weight: bold;
        width: width(l-2);
        margin-bottom: $magic-l;
    }

    dd {
        display: flex;
        margin: 0;
        padding-left: $magic;
        margin-bottom: $magic-l;
        width: width(l-4);
    }

    li {
        clear: none; /* Cancel the clear done for list items in the main list on lists in .pz2-details. */
        border-left: 0 none;
        margin: 0;
    }

    ul {
        padding-left: 1.5em;
        margin: 0;
    }
}

.pz2-detail-availability td a {
    margin-bottom: 2px;
}

.pz2-detail-catalogueLink {
    @include link-plus();
    white-space: nowrap;
}

.pz2-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pz2-info {
    display: flex;
    margin-bottom: $magic / 2;
}

.pz2-label {
    padding-right: $magic / 2;
}


/* ZDB INFO */

.pz2-ZDBLibraryName {
    display: block;
    font-style: italic;
}

a.pz2-ZDBGeneralInfo {
    display: block;
}



/* GOOGLE BOOKS */
.pz2-googleBooks {
    a {
        @include link-empty;
    }
}

#googlePreviewContainer {
    position: fixed;
    left: 4em;
    right: 4em;
    top: 4em;
    height: 570px; /* 550px for preview + 20px for title bar */
}

.googlePreview-titleBar {
    margin: auto;
    height: 20px;
    width: 450px;
    background: $shadeLighter;
    text-align: right;
    padding-right: 2px;
}

#googlePreview {
    margin: auto;
    top: 20px;
    height: 550px;
    width: 450px;
}

.pz2-highlight {
    background: $shadeLight;
}

.pz2-mapContainer {
    height: 200px;
}



/*
Hide/Show elements depending on JavaScript status.
Markup comes with a .pz2-noJS class on the #pazpar2 element.
pz2-client.js removes this once it it loaded.

                    with JS    without JS
.pz2-JSNote         hide       show
.pz2-switchMenu     show       hide
*/
#pazpar2 .pz2-JSNote {
    display: none;
}

#pazpar2.pz2-noJS .pz2-JSNote {
    display: block;
}

#pazpar2.pz2-noJS #pz2-switchMenu,
#pazpar2.pz2-noJS .pz2-ranking {
    display: none;
}



/* STATUS DISPLAY */

#pz2-targetView {
    position: absolute;
    top: -20px;
    right: 100px;
    padding: 10px;
    background: #fff;
    border: 2px solid #eee;
    box-shadow: 1px 1px 4px #666;
    z-index: 100;
    font-size: 85%;
}

#pz2-targetView td {
    padding: 0 3px;
    text-align: right;
}

#pz2-targetView th {
    padding: 0 3px;
    text-align: left;
}

#pz2-targetView thead,
#pz2-targetView caption {
    background: #eee;
    font-weight: bold;
}

#pz2-targetView .pz2-target-status {
    min-width: 120px;
}
