<f:comment>
    Partial, just for the link
</f:comment>
    <f:if condition="{newsItem.falMediaPreviews}">
        <f:then>
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                <f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
                    <f:if condition="{mediaElement.originalResource.type} == 2">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                 alt="{mediaElement.originalResource.alternative}"
                                 width="{f:if(condition: '{settings.templateLayout} == 50', then: '500', else: '')}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 4">
                        <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 5">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                 alt="{mediaElement.originalResource.alternative}"
                                 maxWidth="{settings.list.media.image.maxWidth}"
                                 maxHeight="{settings.list.media.image.maxHeight}"/>
                    </f:if>
                </f:alias>
            </n:link>
        </f:then>
        <f:else>
            <f:if condition="{settings.displayDummyIfNoMedia}">
                        <span class="no-media-element">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                         maxWidth="{settings.list.media.image.maxWidth}"
                                         maxHeight="{settings.list.media.image.maxHeight}"/>
                            </n:link>
                        </span>
            </f:if>
        </f:else>
    </f:if>
