<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
    =====================
        Partials/List/Item.html
-->

<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}"
     itemscope="itemscope" itemtype="http://schema.org/Article">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>
    <div class="news-slide">
        <!-- header -->
        <div class="news-header">
            <div class="title">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <span itemprop="headline">{newsItem.title}</span>
                </n:link>
            </div>

            <div class="meta">
                <div class="list-dateNAuthor">
                    <!-- date -->
                    <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                        <f:format.date
                            format="{f:translate(key:'LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:dateFormat')}">{newsItem.datetime}</f:format.date>
                        <meta itemprop="datePublished"
                              content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"/>
                    </time>

                    <!-- author -->
                    <f:if condition="{newsItem.author}">
                        <span class="-by">
                            <f:translate
                                key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:author_simple"/>
                        </span>
                        {newsItem.author}
                    </f:if>
                </div>
            </div>
        </div>

        <f:if condition="{newsItem.falMedia}">
            <!-- fal media preview element -->
            <div class="img-wrap">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <f:if condition="{newsItem.falMediaPreviews}">
                        <f:then>
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:alias map="{mediaElement: '{newsItem.falMediaPreviews.0}'}">
                                    <f:if condition="{mediaElement.originalResource.type} == 2">
                                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                                 alt="{mediaElement.originalResource.alternative}"
                                                 maxWidth="{settings.list.media.image.maxWidth}"
                                                 maxHeight="{settings.list.media.image.maxHeight}"
                                                 width="{f:if(condition: '{settings.templateLayout} == 60', then: '400', else: '')}"/>
                                    </f:if>
                                    <f:if condition="{mediaElement.originalResource.type} == 4">
                                        <f:render partial="Detail/FalMediaVideo"
                                                  arguments="{mediaElement: mediaElement}"/>
                                    </f:if>
                                    <f:if condition="{mediaElement.originalResource.type} == 5">
                                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                                 alt="{mediaElement.originalResource.alternative}"
                                                 maxWidth="{settings.list.media.image.maxWidth}"
                                                 maxHeight="{settings.list.media.image.maxHeight}"/>
                                    </f:if>
                                </f:alias>
                            </n:link>
                        </f:then>
                        <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}">
                        <span class="no-media-element">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                         maxWidth="{settings.list.media.image.maxWidth}"
                                         maxHeight="{settings.list.media.image.maxHeight}"/>
                            </n:link>
                        </span>
                            </f:if>
                        </f:else>
                    </f:if>
                </n:link>
            </div>
        </f:if>

        <!-- category -->
        <f:if condition="{newsItem.firstCategory}">
            <!-- first category -->
            <f:render partial="Category/Items"
                      arguments="{categories:newsItem.categories, settings:settings}"/>
        </f:if>

        <f:if condition="{newsItem.tags}">
            <!-- Tags -->
            <span class="news-tags" itemprop="keywords">
                    <f:for each="{newsItem.tags}" as="tag">
                        {tag.title}
                    </f:for>
                </span>
        </f:if>

        <!-- teaser -->
        <div class="teaser-text">
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
                        </div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
                        </div>
                    </f:else>
                </f:if>
            </n:link>
        </div>
    </div>
    <!-- button -->
    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
        <button class="slider-button">
            <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:more-link"/>
            <svg class="svg-right"><use xlink:href="#icon-caret-right"/></svg>
        </button>
    </n:link>
</div>
</html>
