.news-slider-view {
    overflow: hidden;
    position: relative;

    .article {
        align-content: space-between;
        flex-shrink: 1;
    }

    .news-rel-slider {
        display: flex;
        justify-content: flex-start;
        flex-flow: row;
        position: relative;
        left: 0;
    }

    .news-slide {
        @include media-l {
            @include span-l-5;
            width: width(l-5);
            min-width: width(l-5);
            margin: 0 $magic-l 0 0;
        }

        @include media-m {
            @include span-m-5;
            width: width(m-5);
            min-width: width(m-5);
            margin: 0 $magic-m 0 0;
        }

        @include media-s {
            @include span-s-6;
            width: width(s-6);
            min-width: width(s-6);
            margin: 0;
        }
        display: flex;
        align-content: flex-start;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .news-info {
        flex-direction: column;
        align-content: space-between;
        display: flex;
    }

    .news-header {
        display: flex;
        padding-left: 0;
        flex-wrap: wrap;
        width: 100%;
    }

    .img-wrap {
        @include media-l {
            width: width(l-5);
            height: width(l-5) / 16 * 9;
            margin: $magic-l / 2 0 $magic;
        }

        @include media-m {
            width: width(m-5);
            height: width(m-5) / 16 * 9;
            margin: $magic-m / 2 0 $magic;
        }

        @include media-s {
            width: width(s-5);
            height: width(s-6) / 16 * 9;
            margin: $magic-s / 2 0;
        }
        padding: 0;
        display: flex;
        overflow: hidden;
        align-items: center;

        img {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    .news-header {
        display: flex;
        padding-left: 0;
        align-content: flex-end;
    }

    .teaser-text {
        padding: 0;
        margin: 0;
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        flex-wrap: wrap;
        width: 100%;
        flex-flow: column;
    }

    .news-list-category {
        margin: 0 0 $magic 0;

        .-item {
            width: 100%;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .news-overlay {
        position: absolute;
        height: 100%;
        width: 150px;
        top: 0;
        z-index: 0;
        cursor: pointer;

        &.-left {
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            left: 0;
            z-index: 10;
        }

        &.-right {
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            left: auto;
            right: 0;
        }
    }

    .slider-button {
        @include cols(3);
        @include button;
        @include button-color--brand;
        @include button-size--default;

        svg {
            margin-right: $magic--half;
            height: 1em;
            width: 1em;
        }
    }
}
