.newsStairsSlider {
    @include media-l {
        width: width(l-12);
        padding-bottom: $magic-l;
    }

    @include media-m {
        width: width(m-12);
        padding-bottom: $magic-m;
    }

    @include media-s {
        width: width(s-6);
    }
    justify-content: flex-start;

    // no header is shown for stairs and slider, so there must be top padding
    padding-top: $magic * 3;
}

.news-stairs-view {
    justify-content: flex-start;

    .article {
        padding: 0;
        margin: 0;

        &:nth-child(even) {
            flex-direction: row-reverse;

            .img-wrap {
                padding-left: $magic-l/2;
                padding-right: 0;
            }

            .infos-wrap {
                padding-right: $magic-l/2;
                padding-left: 0;
                justify-content: flex-end;
            }

            // when text is left, everything is right-aligned
            .news-header {
                justify-content: flex-end;
            }

            .title {
                text-align: right;
            }

            .list-dateNAuthor {
                justify-content: flex-end;
            }

            .news-list-category {
                justify-content: flex-end;

                .-item:last-of-type {
                    margin-right: 0;
                }
            }

            .teaser-text {
                text-align: right;
            }
        }

        &:nth-child(odd) {
            flex-direction: row;

            .img-wrap {
                padding-right: $magic-l/2;
                padding-left: 0;
            }

            .infos-wrap {
                padding-left: $magic-l/2;
                padding-right: 0;
            }
        }

        .news-infos {
            display: flex;
            flex-wrap: wrap;
        }

        .news-header {
            display: flex;
            padding-left: 0;
            flex-wrap: wrap;
            width: 100%;
        }

        .img-wrap {
            @include media-l {
                flex-basis: width(l-6);
                width: width(l-6);
                max-width: width(l-6);
                height: width(l-6) / 16 * 9;
            }

            @include media-m {
                flex-basis: width(m-6);
                width: width(m-6);
                max-width: width(m-6);
                height: width(m-6) / 16 * 9;
            }

            @include media-s {
                flex-basis: width(s-6);
                width: width(s-6);
                max-width: width(s-6);
                height: width(s-6) / 16 * 9;
            }
            display: flex;
            overflow: hidden;
            align-items: center;
            flex-direction: column;
            align-content: flex-start;

            a {
                display: flex;
            }
        }

        .infos-wrap {
            @include media-l {
                @include span-l-6;
                max-width: width(l-6);
            }

            @include media-m {
                @include span-m-6;
            }

            @include media-s {
                @include span-s-6;
            }
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }

        .news-list-category {
            @include media-m {
                display: none;
            }
        }

        .stairs-button {
            @include cols(3);
            @include button;
            @include button-color--brand;
            @include button-size--default;

            svg {
                margin-right: $magic--half;
                height: 1em;
                width: 1em;
            }
        }
    }
}
