.news .page-navigation {
    @include media-l {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    @include media-m {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    @include media-s {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: $magic;
}

.news .page-navigation p {
    display: none;
}

.news .f3-widget-paginator {
    @include media-l {
        width: width(l-10);
        margin: 0 0 $magic;
    }

    @include media-m {
        width: width(m-10);
        margin: 0 0 $magic;
    }

    @include media-s {
        width: width(s-6);
        margin: 0;
    }
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    li {
        display: flex;
        padding: 0;
        margin: 0 $magic;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
        }

        &::before {
            content: "";
            padding: 0;
        }

        &:first-of-type {
            padding-left: 0;
            margin-left: 0;
        }

        &.current {
            background-color: $brand;
            color: $white;
        }
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        fill: $brand;
    }
}
