.news-single {
    h1 {
        padding-bottom: 0;
    }

    .article {
        flex-direction: column;
    }

    .news-img-wrap {
        @include media-l {
            width: width(l-10);
        }

        @include media-m {
            width: width(m-10);
        }

        @include media-s {
            width: width(s-6);
        }
        display: flex;
        margin-bottom: $magic;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .news-text-wrap {
        a {
            @include link-plus();
        }
    }

    .news-img-caption {
        font-size: $small-font-size-l;
        line-height: $small-line-height-l;
        text-align: end;
        margin-bottom: 0;

        a {
            @include link-plus();
        }
    }

    .news-backlink-wrap {
        @include cols(3);
        @include button;
        @include button-color--brand;
        @include button-size--default;

        svg {
            margin-right: $magic--half;
            height: 1em;
            width: 1em;
        }
    }

    .content a {
        @include link-plus();
    }
}
