.newsStairsSlider {
    @include media-l {
        width: width(l-12);
        padding-bottom: $magic-l;
        // no header is shown for stairs and slider, so there must be top padding
        padding-top: $magic-l * 1.5;
    }

    @include media-m {
        width: width(m-12);
        padding-bottom: $magic-m;
        padding-top: $magic-m * 1.5;
    }

    @include media-s {
        width: width(s-6);
        padding-top: $magic-s;
    }
    justify-content: flex-start;

}

.news-stairs-view {
    .article {
        padding: 0;
        margin: 0;

        .news-header {
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            width: 100%;
        }

        .teaser-text {
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            width: 100%;
            flex-flow: column;
        }

        .news-infos {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        &:nth-child(even) {
            // when text is left, everything is right-aligned
            flex-direction: row-reverse;

            .img-wrap {
                @include media-l {
                    justify-content: space-between;
                    padding-left: $magic-l/2;
                }

                @include media-m {
                    justify-content: space-between;
                    padding-left: $magic-l/2;
                }

                @include media-s {
                    padding-left: 0;
                }
                padding-right: 0;
            }

            .infos-wrap {
                @include media-l {
                    justify-content: space-between;
                    text-align: right;
                    padding-right: $magic-l/2;
                }

                @include media-m {
                    justify-content: space-between;
                    text-align: right;
                    padding-right: $magic-l/2;
                }

                @include media-s {
                    justify-content: flex-start;
                    text-align: left;
                    padding-right: 0;
                }
                padding-left: 0;
            }

            .news-header {
                @include media-l {
                    justify-content: flex-end;
                    text-align: right;
                }

                @include media-m {
                    justify-content: flex-end;
                    text-align: right;
                }

                @include media-s {
                    justify-content: flex-start;
                    text-align: left;
                }
            }

            .teaser-text {
                justify-content: flex-end;
                text-align: right;
            }

            .title {
                @include media-l {
                    text-align: right;
                }

                @include media-m {
                    text-align: right;
                }

                @include media-s {
                    text-align: left;
                }
            }

            .list-dateNAuthor {
                justify-content: flex-end;
            }

            .news-list-category {
                justify-content: flex-end;

                .-item:last-of-type {
                    margin-right: 0;
                }
            }

            a {
                align-self: flex-end;
            }
        }

        &:nth-child(odd) {
            flex-direction: row;
            justify-content: flex-start;

            .img-wrap {
                @include media-l {
                    justify-content: space-between;
                    padding-right: $magic-l/2;
                }

                @include media-m {
                    justify-content: space-between;
                    padding-right: $magic-l/2;
                }

                @include media-s {
                    justify-content: flex-end;
                    padding-right: 0;
                }
                padding-left: 0;
            }

            .infos-wrap {
                @include media-l {
                    justify-content: space-between;
                    padding-left: $magic-l/2;
                }

                @include media-m {
                    justify-content: space-between;
                    padding-left: $magic-l/2;
                }

                @include media-s {
                    justify-content: flex-end;
                    padding-left: 0;
                }
                padding-right: 0;
            }
        }


        .img-wrap {
            @include media-l {
                flex-basis: width(l-6);
                width: width(l-6);
                max-width: width(l-6);
                height: width(l-6) / 16 * 9;
            }

            @include media-m {
                flex-basis: width(m-6);
                width: width(m-6);
                max-width: width(m-6);
                height: width(m-6) / 16 * 9;
            }

            @include media-s {
                flex-basis: width(s-6);
                width: width(s-6);
                max-width: width(s-6);
                height: width(s-6) / 16 * 9;
            }
            display: flex;
            overflow: hidden;
            align-items: center;
            flex-direction: column;
            align-content: flex-start;

            a {
                display: flex;
            }
        }

        .infos-wrap {
            @include media-l {
                width: width(l-6);
                max-width: width(l-6);
            }

            @include media-m {
                width: width(m-6);
            }

            @include media-s {
                width: width(s-6);
            }
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }

        .news-list-category {
            @include media-m {
                display: none;
            }
        }

        .stairs-button {
            @include cols(3);
            @include button;
            @include button-color--brand;
            @include button-size--default;

            svg {
                margin-right: $magic--half;
                height: 1em;
                width: 1em;
            }
        }

        a {
            @include media-l {
                align-self: flex-start;
            }

            @include media-m {
                align-self: flex-start;
            }

            @include media-s {
                align-self: flex-end;
            }
        }
    }
}
