.search-bar {
    display: none;
}


.search-bar-title__text-title {
    font-size: 40px;
    font-weight: 700;
    padding-right: ($magic * 2);
}

.search-bar-title__text-subtitle {
    font-size: 22px;
    font-weight: 600;
}

.search-bar-title {
    @include wrap--outer;

    background-color: $accent;
}

.search-bar-title__content {
    @include wrap--inner;

    padding-bottom: ($magic * 1.5);
    padding-top: ($magic * 1.5);
}



.search-bar-form {
    @include wrap--outer;
    margin-bottom: ($magic * 2);
    padding-top: (1.5 * $magic);
}

.search-bar-form__content {
    @include wrap--inner;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 16px inherit;

    form {
        display: inline-flex;
    }
}


.search-bar-select {
    display: flex;
    flex-flow: column nowrap;
}

.search-bar-select-item {
    @include form-radio;
    @include cols(4);

    padding-top: ($magic / 2);

    label {
        font-size: 22px;
    }
}

.search-bar-form__content div {
    @include cols(4);
}



.search-bar-input {
    input {
        @include form-input-text;
        @include form-input-text--font-size-large;
        @include cols(4);
    }
}



.search-bar-misc {
    display: flex;
    flex-flow: column nowrap;

    button {
        @include button;
        @include button-color--brand;
        @include button-size--default;
    }
}
