@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  color: #191919;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  overflow: hidden;
  height: 100%; }

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 7px; }

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

h3 {
  font-size: 28px;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

h4 {
  font-size: 24px;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

img {
  padding: 0px !important;
  margin: 0px !important; }

a {
  color: #183267;
  text-decoration: none; }

p {
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 8px; }
  p a {
    font-weight: bold; }
    p a:after {
      content: "+";
      position: relative;
      top: -10px; }

ul {
  font-weight: lighter;
  list-style: none;
  padding: 0.25em 0 0.45em 0;
  margin: 0; }
  ul li:before {
    content: ".";
    padding-right: 8px;
    bottom: 0.25em;
    position: relative;
    font-weight: 600; }

.page {
  display: flex;
  flex-direction: column;
  height: 100%; }

.container {
  flex-direction: row;
  align-items: stretch; }

.strong {
  font-weight: bold; }

.removed {
  display: none !important; }

.inserted {
  display: flex !important; }

.center {
  align-self: center;
  margin: auto;
  justify-content: center; }

.right {
  justify-content: flex-end !important; }

.left {
  justify-content: flex-start !important;
  margin-right: auto; }

.stretchItems {
  display: flex;
  justify-content: space-between; }

[class*="span-"] {
  display: flex;
  flex-flow: row wrap; }

@media (min-width: 320px) {
  [class*="span-"] {
    width: 304px; }
  .span-1 {
    flex-basis: 50.67px; }
  .span-2 {
    flex-basis: 101.33px; }
  .span-3 {
    flex-basis: 152px; }
  .span-4 {
    flex-basis: 202.67px; }
  .span-5 {
    flex-basis: 253.33px; } }

@media (min-width: 768px) {
  .span-1 {
    flex-basis: 61.33px; }
  .span-2 {
    flex-basis: 123px; }
  .span-3 {
    flex-basis: 184px; }
  .span-4 {
    flex-basis: 245.33px; }
  .span-5 {
    flex-basis: 306.67px; }
  .span-6 {
    flex-basis: 368px; }
  .span-7 {
    flex-basis: 429.33px; }
  .span-8 {
    flex-basis: 490.67px; }
  .span-9 {
    flex-basis: 552px; }
  .span-10 {
    flex-basis: 613.33px; }
  .span-11 {
    flex-basis: 674.67px; }
  .span-12 {
    flex-basis: 736px; }
  .-space {
    display: block; } }

@media (min-width: 960px) {
  .span-1 {
    flex-basis: 77.33px; }
  .span-2 {
    flex-basis: 154.67px; }
  .span-3 {
    flex-basis: 232px; }
  .span-4 {
    flex-basis: 309.33px; }
  .span-5 {
    flex-basis: 386.67px; }
  .span-6 {
    flex-basis: 464px; }
  .span-7 {
    flex-basis: 541.33px; }
  .span-8 {
    flex-basis: 618.67px; }
  .span-9 {
    flex-basis: 696px; }
  .span-10 {
    flex-basis: 773.33px; }
  .span-11 {
    flex-basis: 850.67px; }
  .span-12 {
    flex-basis: 928px; } }

@media (max-width: 320px) {
  [class*="span-"] {
    width: 304px; } }

.content header p time {
  display: none; }

header {
  background-color: #183267;
  width: 100%;
  color: #FFFFFF;
  font-size: 24px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center; }
  header a {
    color: #FFFFFF; }
  header .container {
    align-items: center; }
  header .bildText {
    align-items: center; }
  header .buttons {
    justify-content: space-between !important; }
  header .-search,
  header .-language {
    text-align: right;
    align-items: center; }
  header .-image {
    display: flex;
    align-items: center; }

@media (min-width: 768px) {
  header > * {
    padding: 8px 0px; }
  header .-image img {
    width: 174px; } }

@media (min-width: 960px) {
  header {
    font-size: 24px; }
    header .header {
      padding: 16px 0; }
      header .header .-image img {
        width: 188px;
        height: 41px; } }

@media (max-width: 768px) {
  header {
    font-size: 20px; }
    header .header {
      padding: 16px 0px; }
      header .header .-image img {
        width: 144px;
        height: 32px; } }

navigation {
  background-color: #F2F2F2;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: center; }
  navigation a {
    color: #191919; }
  navigation .default {
    flex-flow: row wrap; }
  navigation .breadCrumbs {
    flex-flow: row wrap;
    font-size: 16px;
    line-height: 24px;
    align-self: center;
    align-items: center; }
    navigation .breadCrumbs i {
      padding: 0 8px; }
    navigation .breadCrumbs .crumbs {
      padding-left: 16px;
      align-items: center; }
  navigation .-firstLevel,
  navigation .-secondLevel,
  navigation .-thirdLevel {
    display: flex;
    flex-flow: row wrap; }
  navigation .-firstLevel {
    font-size: 24px;
    flex-direction: row;
    align-content: center; }
  navigation .-secondLevel {
    font-size: 18px; }
  navigation .-thirdLevel {
    font-size: 14px; }
  navigation .-item {
    padding-right: 16px; }
  navigation .moreButton,
  navigation .menuButton {
    background: #183267;
    cursor: pointer;
    color: #FFFFFF;
    align-items: center;
    align-self: center;
    text-align: center; }

@media (min-width: 768px) {
  navigation .-firstLevel,
  navigation .moreButton {
    margin-top: 10.66667px; }
  navigation .menuButton {
    margin: 8px 0;
    max-width: 144px; }
  navigation .-secondLevel {
    margin-top: 4px; }
  navigation .-thirdLevel {
    margin-top: 4px; } }

@media (max-width: 768px) {
  navigation .-firstLevel,
  navigation .moreButton {
    margin-top: 10.66667px; }
  navigation .menuButton {
    margin: 8px 0; }
  navigation .-secondLevel {
    margin-top: 4px; }
  navigation .-thirdLevel {
    margin-top: 4px; } }

.scrolled {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-flow: column; }

main {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-height: 1em; }
  main .overlay {
    flex: 1 100%;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    z-index: 1; }

.sitemap {
  background-color: #F2F2F2;
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-wrap: wrap; }
  .sitemap a {
    padding-right: 8px;
    color: #191919; }
  .sitemap .-firstLevel {
    text-align: right;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: normal; }
  .sitemap .-secondlevel {
    flex-wrap: wrap; }

@media (min-width: 768px) {
  .sitemap .-firstLevel {
    text-align: right;
    margin-top: 8px; }
  .sitemap .-secondLevel {
    margin-top: 8px; }
    .sitemap .-secondLevel:last-child {
      margin-bottom: 16px; } }

@media (max-width: 768px) {
  .sitemap .-firstLevel {
    text-align: left;
    margin-top: 13px; }
  .sitemap .-secondLevel {
    margin-top: 4px; }
    .sitemap .-secondLevel:last-child {
      margin-bottom: 13px; } }

i.fa {
  padding: 4px; }

.categories {
  padding-bottom: 2px; }
  .categories .categories_link {
    background: #F4D64A;
    border-radius: 4px;
    padding: 1.88235px 8px; }

.doubleColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-basis: 100%;
  font-size: 16px;
  line-height: 24px; }
  .doubleColumn > h1 {
    flex-basis: 100%;
    background: white; }

.doubleColumn-col1 {
  padding-right: 8px; }

.doubleColumn-col2 {
  padding-left: 8px; }

.news .article {
  display: flex;
  flex-flow: row wrap; }
  .news .article a {
    color: #191919; }
  .news .article .header {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px; }
  .news .article .meta {
    color: #191919;
    font-size: 16px;
    line-height: 24px; }
    .news .article .meta .-list-category {
      font-size: 12px; }
      .news .article .meta .-list-category .-item {
        background: #F4D64A;
        border-radius: 4px;
        padding: 1.6px 8px;
        margin-right: 8px; }
      .news .article .meta .-list-category .-by {
        font-style: italic; }

.news .-img-wrap a {
  border: none;
  padding: 0; }

.news .-img-wrap img {
  box-sizing: border-box;
  width: 128px;
  height: auto;
  border: 0.5px solid #A8A8A8; }
