@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

body {
  color: #191919;
  font-size: 22px;
  margin: 0px auto;
  padding: 0px;
  font-family: Open Sans;
  margin: 0 auto;
  overflow: scroll; }

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 7px; }

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

h3 {
  font-size: 28px;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

h4 {
  font-size: 24px;
  line-height: 40px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px; }

img {
  padding: 0px !important;
  margin: 0px !important; }

a {
  color: #183267;
  text-decoration: none; }

p {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 8px; }
  p a {
    font-weight: bold; }
    p a:after {
      content: "+";
      position: relative;
      top: -10px; }

.-col {
  float: left; }

.-item {
  float: left; }

.-span_l1 {
  width: 64px; }

.-col {
  margin: 16px 0; }

.-span_l2 {
  width: 144px; }

.-col {
  margin: 16px 0; }

.-span_l3 {
  width: 224px; }

.-col {
  margin: 16px 0; }

.-span_l4 {
  width: 304px; }

.-col {
  margin: 16px 0; }

.-span_l5 {
  width: 384px; }

.-col {
  margin: 16px 0; }

.-span_l6 {
  width: 464px; }

.-col {
  margin: 16px 0; }

.-span_l7 {
  width: 544px; }

.-col {
  margin: 16px 0; }

.-span_l8 {
  width: 624px; }

.-col {
  margin: 16px 0; }

.-span_l9 {
  width: 704px; }

.-col {
  margin: 16px 0; }

.-span_l10 {
  width: 784px; }

.-col {
  margin: 16px 0; }

.-span_l11 {
  width: 864px; }

.-col {
  margin: 16px 0; }

.-span_l12 {
  width: 944px; }

.-col {
  margin: 16px 0; }

.-space {
  margin-right: 16px; }

.page {
  float: left; }

.content header p time {
  display: none; }

header {
  width: 100%;
  background-color: #183267;
  float: left;
  margin: 0 auto; }
  header :after {
    clear: both; }
  header .header {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 auto; }
    header .header a {
      color: #FFFFFF; }

main {
  width: 100%; }
  main :after {
    clear: both;
    float: none; }
  main .main {
    margin: 0 auto; }

navigation {
  background-color: #F2F2F2;
  list-style-type: none;
  width: 100%;
  float: left; }
  navigation :after {
    clear: both; }
  navigation .navigation {
    margin: 0 auto; }
  navigation .strong {
    font-weight: bold; }
  navigation .navigation_firstLevel {
    font-size: 24px;
    margin: 24px 16px 8px 24px;
    width: 100%; }
  navigation .navigation_secondLevel {
    font-size: 18px;
    margin: 0px 16px 8px 24px; }
  navigation .navigation_thirdLevel {
    font-size: 14px;
    margin: 0px 16px 8px 24px; }
  navigation .-item {
    padding: 0 16px 0 16px; }

i.fa {
  padding: 4px; }

.categories {
  padding-bottom: 2px; }
  .categories .categories_link {
    background: #F4D64A;
    border-radius: 4px;
    padding: 1.88235px 8px; }

.news .article a {
  color: #191919; }

.news .article .header {
  float: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; }

.news .article .meta {
  float: left;
  color: #191919;
  font-size: 16px;
  line-height: 24px; }
  .news .article .meta .-list-category {
    font-size: 12px; }
    .news .article .meta .-list-category .-item {
      background: #F4D64A;
      border-radius: 4px;
      padding: 1.6px 8px;
      margin-right: 8px; }
    .news .article .meta .-list-category .-by {
      font-style: italic; }

.news .-img-wrap {
  float: left;
  display: block; }
  .news .-img-wrap a {
    border: none;
    padding: 0; }
  .news .-img-wrap img {
    box-sizing: border-box;
    height: 81.5px;
    width: auto;
    border: 0.5px solid #A8A8A8; }

.clear {
  clear: both; }
