/* Reference for utilities/simple-grid.scss */
/* line 3, Resources/Private/Scss/Print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, Resources/Private/Scss/Print.scss */
html {
  font-family: "open Sans";
  font-size: 12pt;
  font-weight: 400;
  color: #191919;
}

/* line 15, Resources/Private/Scss/Print.scss */
a {
  color: #191919;
}

/* line 19, Resources/Private/Scss/Print.scss */
.header_outer,
.header-s_buttons,
.navigation_outer,
.footer_outer,
.last_outer,
.search-bar_outer,
.toTop_outer,
.footer-wrapper_outer,
video,
audio,
embed,
object {
  display: none;
}

/* line 34, Resources/Private/Scss/Print.scss */
a {
  text-decoration: none;
  word-wrap: break-word;
}

/* line 39, Resources/Private/Scss/Print.scss */
a[href^="http://"]::after,
a[href^="https://"]::after {
  content: " (" attr(href) ") ";
}

/* line 44, Resources/Private/Scss/Print.scss */
a[href^="#"]::after {
  display: none;
}

/* line 48, Resources/Private/Scss/Print.scss */
a button {
  display: none;
}

/* line 52, Resources/Private/Scss/Print.scss */
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

/* line 59, Resources/Private/Scss/Print.scss */
ul {
  margin-left: 16px;
}

/* line 63, Resources/Private/Scss/Print.scss */
p,
ul,
ol,
h1,
h2,
h3,
h4 {
  margin-bottom: 5px;
}

/* line 73, Resources/Private/Scss/Print.scss */
h1 {
  padding-top: 15px;
}

/* line 77, Resources/Private/Scss/Print.scss */
h2 {
  padding-top: 10px;
}

/* line 81, Resources/Private/Scss/Print.scss */
h3 {
  padding-top: 5px;
}

/* line 85, Resources/Private/Scss/Print.scss */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 90, Resources/Private/Scss/Print.scss */
.printTitle {
  font-size: 24pt;
  font-weight: 600;
  padding: 0 48px 24px 0;
}

/* line 97, Resources/Private/Scss/Print.scss */
.news .news-img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 103, Resources/Private/Scss/Print.scss */
.news .news-img-wrap .news-img-caption {
  margin-bottom: 16px;
  font-size: 0.8em;
}

/* line 109, Resources/Private/Scss/Print.scss */
.news .stairs-button {
  display: none;
}

/* line 113, Resources/Private/Scss/Print.scss */
fieldset {
  border: 0;
}

/* line 117, Resources/Private/Scss/Print.scss */
.tx-powermail .powermail_input {
  width: 97vw;
  padding: 0.33rem;
  font-size: 100%;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

/* line 125, Resources/Private/Scss/Print.scss */
.tx-powermail .powermail_legend {
  font-size: 120%;
  font-weight: normal;
  margin-bottom: 0.33rem;
}

/* line 131, Resources/Private/Scss/Print.scss */
.tx-powermail h3 {
  display: none;
}

/* line 135, Resources/Private/Scss/Print.scss */
.tx-powermail .powermail_textarea {
  width: 97vw;
  height: 30vh;
  font-size: 100%;
  font-weight: lighter;
  padding: 0.33rem;
  border-style: inset;
}
