<header class="header_outer">
    <div class="header_inner">
        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pageid')} == {IDS_HOME}">
            <f:then>
                <div class="header_bildText-home">
                    <div class="header_text-homeLong">
                        <f:link.page pageUid="{IDS_HOME}">Library of <br/><span class="header_text-strong">Anglo-American</span>
                            Culture & History
                        </f:link.page>
                    </div>
                    <div class="header_image-home">
                        <f:link.page pageUid="{IDS_HOME}">
                            <svg>
                                <use xlink:href="#logo-wave" aria-labelledby="logo-wave-title"/>
                            </svg>
                            <span class="visible-hidden"><f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Home"/></span>
                        </f:link.page>
                    </div>
                    <div class="header_text-homeShort">
                        <f:link.page pageUid="{IDS_HOME}">FID AAC</f:link.page>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="header_bildText-content">
                    <div class="header_image-content">
                        <f:link.page pageUid="{IDS_HOME}">
                            <svg>
                                <use xlink:href="#logo-wave" aria-labelledby="logo-wave-title"/>
                            </svg>
                            <span class="visible-hidden">
                                <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Logo"/>
                            </span>
                        </f:link.page>
                    </div>
                    <div class="header_text-content">
                        <f:link.page pageUid="{IDS_HOME}">Library AAC</f:link.page>
                    </div>
                </div>
            </f:else>
        </f:if>
        <div class="header_buttons">
            <f:link.page pageUid="{IDS_HOME}">
                <div class="header_home">
                    <span class="header_home-icon">
                        <svg>
                            <use aria-hidden="true" xlink:href="#icon-home"/>
                        </svg>
                    </span>
                    <span class="header_home-text">
                        <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Home"/>
                    </span>
                </div>
            </f:link.page>
            <f:link.page pageUid="{IDS_SEARCH}">
                <div class="header_search">
                    <span class="header_search-icon">
                        <svg>
                            <use aria-hidden="true" xlink:href="#icon-search"/>
                        </svg>
                    </span>
                    <span class="header_search-text">
                        <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:search_search"/>
                    </span>
                </div>
            </f:link.page>
        </div>
    </div>
</header>
