<header>
    <div class="container">
        <div class="-image span-3">
            <f:image src="EXT:tmpl_fidaac/Resources/Public/Images/logo_fidaac.svg"
                     alt="FID AAC Logo"
                     title="FID AAC Logo"
                     width="188px"
                     height="41px">
            </f:image>
        </div>
        <div class="-text span-3"></div>
        <div class="-buttons span-5 right">
            <div class="-search span-2">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
            </div>
            <div class="-language span-3">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <f:cObject typoscriptObjectPath="lib.language"/>
            </div>
        </div>
    </div>
</header>

