<last>
    <div class="last">
        <div class="last_information">
            <f:link.page pageUid="{IDS_CONTACT}">
                <f:translate
                    key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Contact"/>
            </f:link.page>
            <f:link.page pageUid="{IDS_IMPRINT}">
                <f:translate
                    key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Imprint"/>
            </f:link.page>
            <f:link.page pageUid="{IDS_PRIVACYPOLICY}">
                <f:translate
                    key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:Privacy policy"/>
            </f:link.page>
        </div>
        <div class="last_licence">
            <f:link.page pageUid="{IDS_LICENSE}">
                Creative Commons 4.0
            </f:link.page>
        </div>
    </div>
</last>
