<main class="content-main" id="content-main">
    <f:cObject typoscriptObjectPath="lib.content"/>
    <div class="toTop_outer">
        <div class="toTop_inner">
            <svg>
                <use xlink:href="{f:uri.resource(path:'Images/symbol-defs.svg#icon-angle-double-up', extensionName:'tmpl_fidaac')}"/>
            </svg>
            <span class="visible-hidden">
                <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:to_top"/>
            </span>
        </div>
    </div>
</main>
