<main class="content-main" id="content-main">
    <!--TYPO3SEARCH_begin-->
    <f:cObject typoscriptObjectPath="lib.content"/>
    <!--TYPO3SEARCH_end-->
    <div class="toTop_outer">
        <div class="toTop_inner">
            <svg>
                <use xlink:href="#icon-angle-double-up"/>
            </svg>
            <span class="visible-hidden">
                <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:to_top"/>
            </span>
        </div>
    </div>
</main>
