{namespace rx=Reelworx\RxShariff\ViewHelper}
<div class="misc-wrapper_outer">
    <div class="misc-wrapper_inner">
        <div class="misc-column -funding">
            <h3 class="misc-column-header">Funding</h3>
            <ul class="misc-funding-logos">
                <li class="misc-funding-logo">
                    <a href="https://www.sub.uni-goettingen.de/"><f:image src="{f:uri.resource(path:'Images/Logos/sub_logo.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
                <li class="misc-funding-logo">
                    <a href="http://www.jfki.fu-berlin.de/"><f:image src="{f:uri.resource(path:'Images/Logos/JFKI_Logo.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
                <li class="misc-funding-logo">
                    <a href="http://www.dfg.de/"><f:image src="{f:uri.resource(path:'Images/Logos/dfg_logo_schriftzug_blau.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="misc-column -tell">
            <h3 class="misc-column-header">Tell your colleagues</h3>
            <p>We appreciate your engagement with Library AAC and encourage you in sharing our content in your social media.</p>
            <rx:shariff data="{url: 'https://aac.sub.uni-goettingen.de/'}" services="facebook,twitter,googleplus" enableBackend="true" />
        </div>
        <div class="misc-column -contact">
            <h3 class="misc-column-header">Contact</h3>
            <p>Dorothea Schuller<br>
            Niedersächsische Staats-und Universitätsbibliothek Göttingen</p>
            <p class="misc-contact_address"><i class="fa fa-map-marker"></i><a href="https://www.google.de/maps/place/Nieders%C3%A4chsische+Staats-+und+Universit%C3%A4tsbibliothek+G%C3%B6ttingen/">Platz der Göttinger Sieben 1<br>
                37073 Göttingen</a>
            </p>
            <p class="misc-contact_address"><i class="fa fa-envelope-o"></i><a href="mailto:schuller@sub.uni-goettingen.de">schuller@sub.uni-goettingen.de</a></p>
            <p class="misc-contact_address"><i class="fa fa-phone"></i>+49 551 39-33494</p>
        </div>
    </div>
</div>
