{namespace rx=Reelworx\RxShariff\ViewHelper}
<div class="misc-wrapper_outer">
    <div class="misc-wrapper_inner">
        <div class="misc-column -funding">
            <h3 class="misc-column-header">Funding</h3>
            <ul class="misc-funding-logos">
                <li class="misc-funding-logo">
                    <a href="https://www.sub.uni-goettingen.de/"><f:image src="{f:uri.resource(path:'Images/Logos/sub_logo.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
                <li class="misc-funding-logo">
                    <a href="http://www.jfki.fu-berlin.de/"><f:image src="{f:uri.resource(path:'Images/Logos/JFKI_Logo.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
                <li class="misc-funding-logo">
                    <a href="http://www.dfg.de/"><f:image src="{f:uri.resource(path:'Images/Logos/dfg_logo_schriftzug_blau.png', extensionName:'TmplFidaac')}" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="misc-column -tell" xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper">
            <h3 class="misc-column-header">Tell your colleagues</h3>
            <p>
                <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:share-social" />
            </p>
            <rx:shariff services="facebook,twitter" enableBackend="true" />
        </div>
        <div class="misc-column -contact">
            <h3 class="misc-column-header">Contact</h3>
            <p>
                Library of Anglo-American Culture & History (FID AAC)
                <br>
                <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:SUB"/>
            </p>
            <p class="misc-contact_address"><i class="fa fa-map-marker"></i>
                <a href="https://www.google.de/maps/place/Nieders%C3%A4chsische+Staats-+und+Universit%C3%A4tsbibliothek+G%C3%B6ttingen/">
                    Platz der Göttinger Sieben 1<br>
                    37073 Göttingen<f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:country-SUB" />
                </a>
            </p>
            <p class="misc-contact_address"><i class="fa fa-envelope-o"></i><a href="mailto:fid-aac@sub.uni-goettingen.de">fid-aac@sub.uni-goettingen.de</a></p>
            <p class="misc-contact_address"><i class="fa fa-phone"></i><a href="tel:+495513933494">+49 551 39-33494</a></p>
            <p class="misc-contact_address"><i class="fa fa-twitter"></i>
                <a href="https://twitter.com/LibraryAAC">
                    <f:translate key="LLL:typo3conf/ext/tmpl_fidaac/Resources/Private/Language/locallang.xlf:twitter" />
                </a>
            </p>
        </div>
    </div>
</div>
