<navigation>
    <div class="container ">
        <div class="default span-12 inserted">
            <div class="-firstLevel span-12">
                <f:cObject typoscriptObjectPath="lib.menu1"/>
            </div>
            <div class="-secondLevel span-12">
                <f:cObject typoscriptObjectPath="lib.menu2"/>
            </div>
            <div class="-thirdLevel span-12">
                <f:cObject typoscriptObjectPath="lib.menu3"/>
            </div>
        </div>

        <div class="breadCrumbs span-12 removed">
            <div class="menuButton span-2"><i class="fa fa-bars" aria-hidden="true"></i>Menu</div>
            <div class="crumbs span-10 right">
                <f:cObject typoscriptObjectPath="lib.breadCrumbs"/>
            </div>
        </div>
    </div>
</navigation>
