<navigation class="navigation">
        <div class="span-12 default center inserted">
            <div class="span-12 -firstLevel">
                <f:cObject typoscriptObjectPath="lib.navLevel1"/>
            </div>
            <div class="span-12 -secondLevel">
                <f:cObject typoscriptObjectPath="lib.navLevel2"/>
            </div>
            <div class="span-12 -thirdLevel">
                <f:cObject typoscriptObjectPath="lib.navLevel3"/>
            </div>
        </div>

        <div class="span-12 breadCrumbs center removed">
            <div class="span-2 menuButton"><i class="fa fa-bars" aria-hidden="true"></i>Menu</div>
            <div class="span-9 crumbs">
                <f:cObject typoscriptObjectPath="lib.breadCrumbs"/>
            </div>
        </div>
    </div>
</navigation>
