<div class="search-bar_outer" xmlns="http://www.w3.org/1999/html">
<div class="search-bar_inner">
    <form action="" id="search-form">
        <label for="search"><f:translate extensionName="TmplFidaac" key="search_search">Search</f:translate></label>
        <input name="q" id="search">

        <input type="radio" name="search-choice" value="pazpar2" id="choice-pazpar2" checked/><label for="choice-pazpar2"><f:translate extensionName="TmplFidaac" key="search_library">Library</f:translate></label>
        <input type="radio" name="search-choice" value="website" id="choice-website"/><label for="choice-website"><f:translate extensionName="TmplFidaac" key="search_website">Website</f:translate></label>

        <button class="search-form_submit" id="search-form_submit"><f:translate extensionName="TmplFidaac" key="search_start">Search</f:translate></button>
    </form>
</div>
</div>
