<div class="search-bar_outer">
    <div class="search-bar_inner">
        <div class="search-bar-title">
            <div class="search-bar-title__content">
            <span class="search-bar-title__text-title">
                <f:translate extensionName="TmplFidaac" key="search_bar_title">Search</f:translate>
            </span>
            </div>
        </div>
        <div class="search-bar-form">
            <form action="" id="search-form" class="search-bar-form__content">
                <div class="search-bar-input">
                    <label class="search-form-label_search visible-hidden" for="search">
                        <f:translate extensionName="TmplFidaac" key="search_search">Search</f:translate>
                    </label>
                    <input name="q" type="text" id="search"
                           placeholder="{f:translate(key: 'search_placeholder', extensionName: 'TmplFidaac', default: 'Your search terms')}">
                </div>
                <div class="search-bar-select">
                    <div class="search-bar-select-item">
                        <input type="radio" name="search-choice" value="pazpar2" id="choice-pazpar2" checked/>
                        <label for="choice-pazpar2">
                            <f:translate extensionName="TmplFidaac" key="search_library">Library</f:translate>
                        </label>
                    </div>
                    <div class="search-bar-select-item">
                        <input type="radio" name="search-choice" value="website" id="choice-website"/>
                        <label for="choice-website">
                            <f:translate extensionName="TmplFidaac" key="search_website">Website</f:translate>
                        </label>
                    </div>
                </div>
                <div class="search-bar-misc">
                    <button class="search-form_submit" id="search-form_submit">
                        <f:translate extensionName="TmplFidaac" key="search_start">Search</f:translate>
                    </button>
                    <span class="search-tips">
                    <f:link.page pageUid="17">
                        <f:translate key="search_tips" extensionName="TmplFidaac" default="Search Tips"/>
                    </f:link.page>
                </span>
                </div>
            </form>
        </div>
        <div id="search-bar-close">
            <svg>
                <use xlink:href="#icon-close"/>
                <span class="visible-hidden">
                    <f:translate key="search_close" extensionName="TmplFidaac" />
                 </span>
            </svg>
                <f:translate extensionName="TmplFidaac" key="search_close">Close</f:translate>
        </div>
    </div>
</div>